<h3 class="lk-title">Питання/Відповіді</h3>


<div class="block-mb">
  <div class="row">
    <div class="col-md-16">
      <ul class="faq faq-lk">
        <li>
          <input type="checkbox" id="qua-1" checked>
          <i></i>
          <label for="qua-1" class="faq__title">Що саме треба зробити, щоб отримати бали?</label>
          <div class="faq__body">
            <p>Нарахування Балів відбувається при замовленні товарів на будь-яку суму в чеку через сайт myglo.com.ua: як за стандартною ціною, так і за ціною спеціальних пропозицій, причому 1 гривня = 4 бали.</p>
          </div>                 	
        </li>
        <li>
          <input type="checkbox" id="qua-2" checked>
          <i></i>
          <label for="qua-2" class="faq__title">Яким чином мені зможуть нараховуватися бали?</label>
          <div class="faq__body">
            <p>Відповідно до Правил Програми бали нараховуються за замовлення товарів на сайті. Для цього необхідно зареєструватися на сайті, вказавши свій номер телефону і авторизуватися (увійти в особистий кабінет).</p>
			{%comment%}
            <p>Бали також нараховуються при покупці в glo Studiо, при цьому необхідно повідомити свій номер телефону, вказаний при реєстрації на сайті, персоналу glo Studiо.</p>
			{%endcomment%}
            <p>За придбання товарів тобі будуть нараховані бали з наступного розрахунку: 1 гривня = 4 бали з суми оплати в чеку.</p>
          </div>                  
        </li>
        <li>
          <input type="checkbox" id="qua-3" checked>
          <i></i>
          <label for="qua-3" class="faq__title">Де я зможу побачити скільки у мене балів?</label>
          <div class="faq__body">
            <p>Кількість балів можна перевірити в особистому кабінеті на офіційному сайті myglo.com.ua. Для цього необхідно авторизуватися на myglo.com.ua, увійти в особистий кабінет та перевірити інформацію у кабінеті.</p>
          </div>                 
        </li>
        <li>
          <input type="checkbox" id="qua-4" checked>
          <i></i>
          <label for="qua-4" class="faq__title">Чи можу я балами повністю сплатити вартість покупки або тільки отримати знижку на частину суми?</label>
          <div class="faq__body">
            <p>Бали відкривають доступ до спеціальних цінових пропозицій. Перелік доступних пропозицій можна знайти <a href="/account#bonus">в особистому кабінеті</a>.</p>
          </div>                 
        </li>
        <li>
          <input type="checkbox" id="qua-5" checked>
          <i></i>
          <label for="qua-5" class="faq__title">Чи можу я в будь-якій точці продажів розраховуватися балами?</label>
          <div class="faq__body">
            <p>Використати бали можливо лише при здійсненні замовлення на офіційному сайті myglo.com.ua. Доставка обраного заохочення здійснюється Новою поштою.</p>
          </div>                 
        </li>
        <li>
          <input type="checkbox" id="qua-6" checked>
          <i></i>
          <label for="qua-6" class="faq__title">За що саме я отримую бали?</label>
          <div class="faq__body">
            <p>Бали нараховуються як за здійснення замовлення на сайті, так і за інші завдання, доступні у твоєму особистому кабінеті.</p>
          </div>                 
        </li>
        <li>
          <input type="checkbox" id="qua-8" checked>
          <i></i>
          <label for="qua-8" class="faq__title">Де я зможу отримувати заохочення?</label>
          <div class="faq__body">
            <p>Вибір заохочення можливий в особистому кабінеті на офіційному сайті, а доставка можлива у відділенні Нової Пошти або за вказаною адресою, в залежності від обраного способу доставки.</p>
          </div>                 
        </li>
        <li>
          <input type="checkbox" id="qua-9" checked>
          <i></i>
          <label for="qua-9" class="faq__title">За що я отримую найбільше балів?</label>
          <div class="faq__body">
            <p>Найбільша кількість балів нараховується за рекомендацію друзів.</p>
          </div>                 
        </li>
        <li>
          <input type="checkbox" id="qua-10" checked>
          <i></i>
          <label for="qua-10" class="faq__title">Чи можу я отримати декілька заохочень відразу?</label>
          <div class="faq__body">
            <p>Так, є можливість отримати будь-яку кількість заохочень, у залежності від кількості накопичених балів.</p>
          </div>                 
        </li>
        <li>
          <input type="checkbox" id="qua-11" checked>
          <i></i>
          <label for="qua-11" class="faq__title">Чи накопичуватимуться бали за ті покупки, на які я також витрачаю бали?</label>
          <div class="faq__body">
            <p>Так, бали нараховуються за усі здійснені тобою покупки, в тому числі і за спеціальні бонусні пропозиції. Відслідковувати накопичення балів ти можеш в особистому кабінеті.</p>
          </div>                 
        </li>
        <li>
          <input type="checkbox" id="qua-14" checked>
          <i></i>
          <label for="qua-14" class="faq__title">Скільки друзів я можу привести?</label>
          <div class="faq__body">
            <p>Кількість друзів не обмежується. Чим більше друзів – тим більше балів отримає учасник. Проте твій друг проходить перевірку чи є йому 18 років.</p>
          </div>                 
        </li>
        <li>
          <input type="checkbox" id="qua-15" checked>
          <i></i>
          <label for="qua-15" class="faq__title">Як я можу досягти наступного рівня.</label>
          <div class="faq__body">
            <p>Для цього тобі потрібно накопичити 40 000 балів. Неважливо, чи маєш ти їх на рахунку: бали зараховуються за увесь період участі у програмі. </p>
          </div>                 
        </li>
        <li>
          <input type="checkbox" id="qua-16" checked>
          <i></i>
          <label for="qua-16" class="faq__title">Чи можу я перевести бали в готівку?</label>
          <div class="faq__body">
            <p>Ні, накопичені бали не переводяться в готівку. Використовувати бали можна тільки для обміну на запропоновані заохочення або для отримання доступу до спеціальних пропозицій.</p>
          </div>                 
        </li>
		{%comment%}
        <li>
          <input type="checkbox" id="qua-17" checked>
          <i></i>
          <label for="qua-17" class="faq__title">Чи потрібно сплачувати за доставку?</label>
          <div class="faq__body">
            <p>Ні, доставка заохочень безкоштовна.</p>
          </div>                 
        </li>
		{%endcomment%}
        <li>
          <input type="checkbox" id="qua-18" checked>
          <i></i>
          <label for="qua-18" class="faq__title">Чи можу я скористатися балами свого друга / родича?</label>
          <div class="faq__body">
            <p>Ні, це не можливо. Бали нараховуються кожному учаснику програми індивідуально. Скористатися балами може тільки сам учасник. Подарувати їх кому-небудь неможливо.</p>
          </div>                 
        </li>
		{%comment%}
        <li>
          <input type="checkbox" id="qua-19" checked>
          <i></i>
          <label for="qua-19" class="faq__title">Чи можу я балами сплатити доставку?</label>
          <div class="faq__body">
            <p>Ні, бали можна використовувати тільки для обміну на заохочення. Більше того, можливість компенсувати балами вартість доставки відсутня, оскільки доставка заохочень безкоштовна.</p>
          </div>                 
        </li>
		{%endcomment%}
      </ul>
    </div>
  </div>
</div>

<style>
  .transition, p, ul li i:before, ul li i:after {
    transition: all 0.25s ease-in-out;
  }

  .flipIn, h1, ul li {
    animation: flipdown 0.5s ease both;
  }
</style>