<h3 class="lk-title">ПРАВИЛА БОНУСНОЇ ПРОГРАМИ «glo BONUS CLUB»</h3>

<div class="row">
    <div class="col-lg-16">
     

<p><strong>1. Загальні положення.</strong></p>
<p>1.1. Бонусна програма «Glo Bonus Club. Завжди більше» (далі – <strong>Програма</strong>) - бонусна програма, побудована на системі накопичення і використання Балів Учасником за Замовлення Товарів на Сайті чи їх Придбання у Фірмових магазинах відповідно до Правил, розміщених на Сайті.</p>
<p>1.2. Програма реалізується ТОВ «Бритіш Американ Тобакко Сейлз Енд Маркетинг Україна» (ідентифікаційний код юридичної особи 40102602), місцезнаходження: 01014, м. Київ, вул. Болсуновська, 13-15 (далі – <strong>Організатор</strong>). Виконавцем Програми є ТОВ «Хіт-Трейд», (ідентифікаційний код юридичної особи 42275040), місцезнаходження: Одеська обл., місто Одеса, Малиновський район, вулиця Бугаївська, будинок 35 (далі – <strong>Виконавець</strong>).</p>
<p><strong>2. Терміни та визначення.</strong></p>
<p><strong>2.1. Акція/Спеціальна пропозиція</strong> – додаткова пропозиція від Організатора Учаснику, яка регулюється окремими правилами проведення та обмежена у терміні своєї дії, умови якої можуть передбачати інший порядок нарахування балів.</p>
<p><strong>2.2. Бали</strong> (<strong>Бонуси</strong>) – умовні одиниці, які нараховуються Організатором Учаснику при здійсненні Замовлення чи Придбання Товарів, і визначають обсяг прав учасника на отримання Заохочень відповідно до Правил Програми. Бонуси не мають готівкового (грошового) вираження та не можуть бути отримані в грошовому еквіваленті. Бонуси не є електронними грошима і не виконують функцію електронних грошей.</p>
<p><strong>2.3. Бонусний рахунок</strong> - обліковий запис Учасника Програми в системі Організатора, що містить сукупність облікових та інформаційних даних про Учасника, кількість нарахованих (отриманих) і / або списаних (використаних) Учасником Балів, а також про поточний баланс Балів (залишок Балів).</p>
<p><strong>2.4. Заохочення</strong> (<strong>Винагорода</strong>) – винагороди та/або спеціальні цінові пропозиції на Товари, які Учасник може обрати для придбання Програми та які є доступні Учаснику на момент списання Балів з Бонусного рахунку.</p>
<p><strong>2.5. Замовлення Товарів</strong> – операція із замовлення Товарів на Сайті, по якій нараховуються Бали у відповідності до Правил.</p>
<p><strong>2.6. Нарахування Балів</strong> – процедура, в результаті якої відбувається збільшення кількості Балів на Бонусному рахунку Учасника з підстав, передбачених у Правилах.</p>
<p><strong>2.7. Особистий кабінет </strong>- розділ Сайту, який дозволяє зареєстрованому на Сайті Споживачу отримати доступ до деталей свої Замовлень, Бонусного рахунку тощо.</p>
<p><strong>2.8. Правила</strong> – дані правила та умови Програми «Glo Bonus Club. Завжди більше».</p>
<p><strong>2.9. Придбання</strong> – операція з купівлі Товарів у Фірмових магазинах, по якій нараховуються Бали у відповідності до Правил.</p>
<p><strong>2.10. Виконавець</strong> – Товариство з обмеженою відповідальністю «Хіт-Трейд», ідентифікаційний код юридичної особи 42275040, Одеська обл., місто Одеса, Малиновський район, вулиця Бугаївська, будинок 35.</p>
<p><strong>2.11. Сайт</strong> – цей веб-сайт myglo.com.ua.</p>
<p><strong>2.12. Списання Балів</strong> – процедура, в результаті якої відбувається зменшення кількості Балів на Бонусному рахунку Учасника у зв'язку з отриманням Учасником Заохочень, які надає Програма.</p>
<p><strong>2.13. Споживач</strong> – особа, що досягла 18 років, проживає в Україні і споживає тютюнові або нікотиновмісні вироби та зареєстрована на Сайті.</p>
<p><strong>2.14. Товар</strong> - асортимент продукції, а саме пристрої для нагрівання тютюну glo<sup>TM</sup>, аксесуари для пристрою та тютюновмісні стіки для нагрівання neo<sup>TM</sup>, що доступні повнолітнім Споживачам для Придбання у Фірмових магазинах чи Замовлення на Сайті.</p>
<p><strong>2.15. Фірмові магазини</strong>- мережа фірмових магазинів glo™ studio на території України, адреси яких зазначені на Сайті у розділі Де придбати.</p>
<p><strong>2.16. Учасник</strong> – Споживач, що погодився з цими Правилами та бере участь у Програмі.</p>
<p><strong>3. Умови участі у Програмі.</strong></p>
<p><strong>3.1.</strong> Підключення Споживачів до Програми здійснюється автоматично.</p>
<p><strong>3.2.</strong> При першому Замовленні або Придбанні Товарів бали по Програмі почнуть нараховуватись відразу з моменту її активації. Реєструючись на Сайті, Споживач автоматично бере участь в Програмі (стає Учасником) та зобов'язується самостійно ознайомитися з Правилами Програми.</p>
<p><strong>3.3.</strong> Участь у Програмі означає повну згоду Учасника з Правилами Програми.</p>
<p><strong>3.4.</strong> У рамках Програми, Організатор нараховує Учаснику Програми Бали за Замовлення та/або Придбання Товарів.</p>
<p><strong>3.5.</strong> У рамках Програми Учаснику доступні Заохочення, які можуть бути отримані відповідно до Правил.</p>
<p><strong>3.6.</strong> Отримання Заохочення можливо тільки за умови проходження процедури реєстрації на Сайті.</p>
<p><strong>3.7.</strong> Бали нараховуються на Бонусному рахунку Учасника пропорційно вартості Товарів, що були замовлені на Сайті чи придбані у Фірмових магазинах Учасником.</p>
<p><strong>3.8.</strong> Участь в Програмі будь-якого Учасника припиняється, а Бали анулюються у випадках, визначених п.4.6-4.10 цих Правил.</p>
<p><strong>3.9.</strong> Учасник Програми не має права передавати і / або будь-яким іншим чином поступатися своїми правами, пов'язаними з участю в Програмі, третій особі (особам).</p>
<p><strong>4. Вимоги до Учасників Програми.</strong></p>
<p><strong>4.1.</strong> Учасником вважається особа, яка відповідає вимогам п. 4 цих Правил та належним чином виконала всі умови цих Правил.</p>
<p><strong>4.2.</strong> До участі в Програмі допускаються особи:</p>
<ul>
<li>віком від 18 років. Вік визначається станом на дату початку участі в Програмі;</li>
<li>які є споживачами тютюнових та/або нікотиновмісних виробів;</li>
<li>які проживають на території України, за винятком тимчасово окупованих територій та території проведення ООС, та є користувачами Інтернету.</li>
</ul>
<p><strong>4.3.</strong> Учасниками Програми не визнаються та не можуть бути особи віком до 18 років, обмежено дієздатні та недієздатні особи незалежно від виконання ними умов цих Правил.</p>
<p><strong>4.4.</strong> Учасники Програми зобов’язуються:</p>
<p><strong>4.4.1. </strong>Ознайомитися та дотримуватися вимог цих Правил та норм чинного законодавства України.</p>
<p><strong>4.4.2. </strong>Вказувати повні, коректні та достовірні відомості, що вимагаються згідно з цими Правилами.</p>
<p><strong>4.4.3. </strong>Вносити зміни та / або доповнення до даних, наведених у Бонусному рахунку Програми Учасника, у разі будь-яких змін щодо даних Учасника.</p>
<p><strong>4.4.4. </strong>Свідомо не завдавати незручностей та не чинити перешкод іншим Учасникам.</p>
<p><span><strong>4.4.5.</strong> </span>Не чинити дій, що ставлять під сумнів правомірність участі такого Учасника в Програмі.</p>
<p><span><strong>4.4.6.</strong> </span>Зберігати документи, що підтверджують оплату Товарів і надавати їх Організатору для врегулювання спірних ситуацій щодо списання та / або нарахування Бонусів.</p>
<p><strong>4.4.7. </strong>Самостійно контролювати стан свого Бонусного рахунку.</p>
<p><span><strong>4.4.8.</strong> </span>Не розголошувати інформацію про паролі / облікові дані будь-які іншій особі.</p>
<p><strong>4.5.</strong> Беручи участь у Програмі, Учасник погоджується та підтверджує факт ознайомлення й повної згоди з цими Правилами.</p>
<p><strong>4.6.</strong> Надання учасником Програми недостовірних/некоректних даних, вказаних для участі в Програмі, зокрема щодо його віку, засобів зв’язку з таким Учасником, звільняє Організатора від обов’язку нараховувати бали та пропонувати Заохочення, і такий Учасник втрачає право на участь у Програмі, а його бали анулюються.</p>
<p><strong>4.7.</strong> Організатор залишає за собою право відсторонити від участі в Програмі Учасника, який порушив обов’язки, передбачені в цих Правилах, не надав на запит Організатора документів, що підтверджують вік, довідки про присвоєння РНОКПП, паспорту тощо.</p>
<p><strong>4.8.</strong> Організатор залишає за собою право анулювати Бали, накопичені Учасником, у наступних випадках:</p>
<p><strong>4.8.1.</strong> Порушення чи неналежне виконання умов Акцій у рамках Програми.</p>
<p><strong>4.8.2. </strong>Надання недостовірної інформації, зокрема щодо віку Учасника та інших осіб, яких він залучає в рамках акцій.</p>
<p><strong>4.8.3. </strong>Виявлення фактів зловживання Заохоченнями Учасниками.</p>
<p><strong>4.8.4. </strong>У зв'язку зі смертю Учасника Програми та у зв'язку з визнанням його безвісно відсутнім або оголошенням померлим;</p>
<p><span><strong>4.8.5.</strong> </span>Виявлення організатором інших Зловживань Учасника у рамках Програми.</p>
<p><strong>4.8.6. </strong>Інші випадки, передбачені цими Правилами.</p>
<p><strong>4.9.</strong> У випадку прийняття Організатором рішення про припинення участі у Програмі внаслідок обставин, визначених цим пунктом Правил, Організатор направляє відповідне повідомлення Учаснику про припинення участі в Програмі за допомогою будь-якого каналу зв’язку.</p>
<p><strong>4.10.</strong> Учасник має право в будь-який момент відмовитися від подальшої участі у програмі шляхом звернення за безкоштовним номером 8008. У цьому випадку накопичені бали Учасника будуть анульовані.</p>
<p><strong>4.11.</strong> Учасник, що не виконує/неналежно виконує умови цих Правил, втрачає право на подальшу участь у Програмі.</p>
<p><strong>5. Правила нарахування Балів.</strong></p>
<p><strong>5.1.</strong> Відповідно до Правил Програми Бали нараховуються за Замовлення (через Особистий кабінет на Сайті Учасника) або Придбання Товарів (з ідентифікацією Учасника за особистим номером телефону).</p>
<p><strong>5.2.</strong> Учасник може ознайомлюватись з інформацією про баланс свого Бонусного рахунку, на якому обліковуються Бали, відповідно до умов даних Правил на Сайті.</p>
<p><strong>5.3.</strong> Організатор нараховує Бали на Бонусний рахунок Учасника при здійсненні Замовлення чи Придбання Товарів на будь-яку суму в чеку: як за стандартною ціною, так і за ціною Спеціальних пропозицій.</p>
<p><strong>5.4.</strong> Після нарахування Балів на Бонусний рахунок, Учасник отримує право на їх використання в порядку, встановленому цими Правилами.</p>
<p><strong>5.5.</strong> Замовлення та Придбання Товарів Організатор нараховує Учаснику Бали з наступного розрахунку: 4 (чотири) бали за кожну 1 (одну) гривню з суми оплати в чеку.</p>
<p><strong>5.6.</strong> Для цих Правил рівень Програми – це досягнення порогової кількості нарахованих балів Учаснику. Відповідно:</p>
<p><strong>5.6.1.</strong> Учасник досягає 1 (першого) рівня Програми в момент реєстрації в Програмі;</p>
<p><strong>5.6.2.</strong> 2 (другого) рівня – коли Учасник накопичив 60 000 (шістдесят тисяч) Балів;</p>
<p><strong>5.6.3.</strong> 3 (третього) рівня – коли Учасник накопичив 100 000 (сто тисяч) балів.</p>
<p><strong>5.7.</strong> У рамках Акцій, що проводяться Організатором, на Бонусний рахунок Учасника може нараховуватись збільшена кількість Балів, якщо таке передбачено правилами відповідних Акцій. Перелік доступних Акцій буде розміщений в Особистому кабінеті Учасника.</p>
<p><strong>5.8.</strong> У разі скасування Замовлення чи Придбання (повернення Товару, часткового повернення Товару протягом 14 днів з моменту Придбання тощо), за вчинення якого Учаснику Програми були нараховані Бали, такі Бали підлягають відкликанню. Якщо ж ці бали були використані до моменту повернення Товару, то відповідна кількість Балів буде відкликана з Бонусного рахунку Учасника при наступному нарахуванні Балів.</p>
<p><strong>5.9.</strong> Організатор може на свій розсуд зупинити накопичення Балів Учасникам, попередивши про це Учасника.</p>
<p><strong>5.10.</strong> Організатор має право призупинити нарахування Балів на період розгляду ситуації, у випадку наявності підозри в діях Учасника елементів або недобросовісних дій і / або порушення Правил та / або зловживання Заохоченнями, наданими Учасникам в рамках Програми.</p>
<p><strong>5.11.</strong> Організатор має право здійснювати нарахування додаткових Балів, наприклад: за День народження Учасника та за інші активності, які Організатор визначить на власний розсуд.</p>
<p><strong>5.12.</strong> Організатор залишає за собою право змінювати умови/ періодичність/ події, відповідно до яких будуть нараховуватись додаткові Бали.</p>
<p><strong>6. Правила списання Балів та отримання Заохочення.</strong></p>
<ol start="5"></ol>
<strong>6.1.</strong> Бали в рамках Програми використовуються для придбання Заохочення за визначеною ціною.<br />
<ol start="5"></ol>
<strong>6.2.</strong> Бали доступні для накопичення протягом необмеженого періоду, проте мають термін дії 12 місяців. .<br />
<ol start="5"></ol>
<strong>6.3.</strong> Повний перелік Заохочень, доступних для Учасника, знаходиться в Особистому кабінеті Учасника.<br />
<ol start="5"></ol>
<strong>6.4.</strong> Цей перелік Заохочень оновлюється відповідно до рівня Програми (п.5.6 цих Правил),якого досягає Учасник.<br />
<ol start="5"></ol>
<strong>6.5.</strong> Із Бонусного рахунку Учасника Програми списуються Бали в кількості, необхідній для покриття вартості Заохочення, а Учасник у свою чергу отримує Заохочення.<br />
<ol start="5"></ol>
<p><strong>6.6.</strong> Накопичені Бали Учасника не можуть бути обміняні в грошовому еквіваленті.</p>
<p><strong>7. Доставка та обмін.</strong></p>
<p><strong>7.1.</strong> Доставка Заохочень здійснюється ТОВ «Нова Пошта» в межах території України, за винятком тимчасово окупованих територій та території проведення ООС, на адресу відділення «Нової Пошти» або за адресою, вказану Учасником Програми.</p>
<p><strong>7.2.</strong> Незалежно від того який рівень у учасника (1-перший, 2-другий або 3 третій) в п.5.6 цих Правил, доставка Заохочень здійснюється безкоштовно для Учасника за вказаною адресою, в залежності від обраного способу доставки .</p>
<p><strong>7.3.</strong> Заохочення не підлягають обміну чи поверненню, за винятком випадків, зазначених у п. 7.4 цих Правил.</p>
<p><strong>7.4.</strong> Отримавши Заохочення, Учасник повинен перевірити, що Заохочення є неушкодженим та відповідає вибраному ним виду Заохочення. У разі виявлення ушкодження чи невідповідності Заохочення, Учасник Програми повідомляє працівника відділення або кур’єра про це і оформлює повернення за рахунок Організатора. У такому випадку Організатор у розумні строки здійснює обмін Заохочення, на обране Учасником, що має належну якість.</p>
<p><strong>8. Інформування щодо Правил Програми.</strong></p>
<p>8.1. Інформування щодо цих Правил здійснюється на офіційному сайті Організатора www.myglo.com.ua.</p>
<p>8.2. Правила Програми можуть бути змінені та/або доповнені Організатором протягом всього періоду дії Програми. Зміни та/або доповнення Правил можливі лише в разі їх оприлюднення в порядку, що визначений для інформування щодо Правил програми. Такі зміни і/або доповнення набувають чинності з моменту їх публікації.</p>
<p><strong>9. Загальні умови Програми.</strong></p>
<p><strong>9.1.</strong> рограма вводиться в дію з ** травня 2020 р. і діє протягом необмеженого терміну, якщо інше не буде визначено в Правилах Програми.</p>
<p><strong>9.2.</strong> Участь у Програмі автоматично означає факт ознайомлення й повну та безумовну згоду Учасника з цими Правилами. Порушення Учасником Правил або відмова Учасника від належного виконання цих Правил вважається відмовою Учасника від участі в Програмі, при цьому така особа не має права на одержання будь-якої компенсації від Організатора.</p>
<p><strong>9.3.</strong> Беручи участь у Програмі, кожен Учасник тим самим підтверджує свою згоду на передачу, збір, обробку й використання його персональних даних на умовах і у порядку, визначеному у Положенні про конфіденційність, що визначена в Угоді з користувачем на Сайті <a href="https://myglo.com.ua/pages/ugoda-z-korystuvachem"></a>. Персональні дані Учасників будуть використовуватися виключно Організатором або уповноваженими ними особами з дотриманням необхідних заходів конфіденційності і захисту персональних даних<span>.</span> Щодо всіх персональних даних, наданих Учасниками, Організатором або уповноваженими ним особами будуть вживатись заходи щодо забезпечення безпеки персональних даних відповідно до Закону України «Про захист персональних даних».</p>
<p><strong>9.4.</strong> Учасник Програми, погоджуючись з цими Правилами, висловлює свою згоду на отримання повідомлень інформаційного та / або рекламного характеру у рамках Програми будь-яким каналом зв’язку.</p>
<p><strong>9.5.</strong> Організатор, а також залучені ними треті особи не несуть відповідальності в разі настання форс-мажорних обставин, таких як стихійні лиха, пожежа, повінь, військові дії будь-якого характеру, блокади, суттєві зміни в законодавстві, що діє на території України, інші непідвладні контролю з боку Організатора, а також залучених ним третіх осіб обставини, внаслідок яких функціонування Програми або доставка Заохочень стали неможливими.</p>
<p><strong>9.6.</strong> Ці Правила можуть бути змінені та/або доповнені Організатором як до, так і після початку Програми.</p>
<p><strong>9.7.</strong> У разі рішення Організатора припинити дію програми Організатор повідомляє Учасників про своє рішення припинити дію Програми шляхом розміщення такої інформації на Сайті.</p>
<p><strong>9.8.</strong> Припинення дії Програми здійснюється після закінчення 30 (тридцяти) календарних днів з дня повідомлення Учасників Програми про її припинення. Не пізніше 30 (тридцяти) календарних днів до дати припинення дії Програми, Організатор припиняє Нарахування Балів.</p>
<p><strong>9.9.</strong> Організатор не несе відповідальності за:</p>
<p><strong>9.9.1.</strong> Неознайомлення з цими Правилами.</p>
<p><strong><span>9.9.2. </span></strong>Організатор на власний розсуд може заборонити подальшу участь у Програмі будь-якій особі, яка порушує ці Правила або не відповідає критеріям участі, наведеним у цих Правилах.</p>
<p><strong>9.10. </strong>Організатор має право залучати третіх осіб для повного або часткового підтримання та організації функціонування Програми.</p>
<p><strong>9.11. </strong>Організатор не бере участі у вирішенні суперечок щодо можливостей участі у Програмі будь-кого з Учасників Програми.</p>
<p><strong>9.12. </strong>Терміни, що використовуються в цих Правилах, стосуються виключно цієї Програми. У разі виникнення ситуації, що припускає неоднозначне тлумачення цих Правил, будь-яких спірних питань та/або питань, не врегульованих цими Правилами, рішення ухвалюється Організатором.</p>
<p><strong>9.13. </strong>Всі відносини, що стосуються функціонування Програми, регулюються на основі чинного законодавства України. При цьому в ситуації, що допускає неоднозначне тлумачення цих Правил, і при не врегульованих Правилами спірних питаннях остаточне рішення ухвалюється Організатором. Рішення Організатора з усіх питань, пов'язаних із функціонуванням Програми, є остаточними і не підлягають перегляду.</p>
<p><strong>9.14. </strong>Нарахування, утримання та перерахування до бюджету податків з вартості Заохочень здійснюються відповідно до чинного законодавства України Виконавцем.</p>
<p><strong>9.15. </strong>Всі питання, прямо не врегульовані в цих Правилах, регулюються на основі чинного законодавства України.</p>
    </div>
</div>
