{% capture bounusesEnough %}{% render '_is_bonuses_enough', variant: variant, product: product %}{% endcapture %}

{% if bounusesEnough == 'true' %}
<svg width="35" height="35" viewBox="0 0 35 35" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path opacity="0.8" fill-rule="evenodd" clip-rule="evenodd" d="M35 17.5C35 27.165 27.165 35 17.5 35C7.83502 35 0 27.165 0 17.5C0 7.83502 7.83502 0 17.5 0C27.165 0 35 7.83502 35 17.5ZM1 17.5C1 26.6127 8.3873 34 17.5 34C26.6127 34 34 26.6127 34 17.5C34 8.3873 26.6127 1 17.5 1C8.3873 1 1 8.3873 1 17.5Z" fill="#E35205"/>
  <rect x="31.6994" y="22.5676" width="1.78424" height="3.63636" rx="0.892121" transform="rotate(112.5 31.6994 22.5676)" fill="#E35205"/>
  <rect x="7.34256" y="12.4786" width="1.78424" height="3.63636" rx="0.892121" transform="rotate(112.5 7.34256 12.4786)" fill="#E35205"/>
  <rect x="31.017" y="11.0871" width="1.78424" height="3.63636" rx="0.892121" transform="rotate(67.5 31.017 11.0871)" fill="#E35205"/>
  <rect x="6.66019" y="21.176" width="1.78424" height="3.63636" rx="0.892121" transform="rotate(67.5 6.66019 21.176)" fill="#E35205"/>
  <rect x="27.4762" y="6.41409" width="1.78424" height="3.63636" rx="0.892121" transform="rotate(45 27.4762 6.41409)" fill="#E35205"/>
  <rect x="8.83426" y="25.056" width="1.78424" height="3.63636" rx="0.892121" transform="rotate(45 8.83426 25.056)" fill="#E35205"/>
  <rect x="28.7371" y="27.6273" width="1.78424" height="3.63636" rx="0.892121" transform="rotate(135 28.7371 27.6273)" fill="#E35205"/>
  <rect x="10.0952" y="8.98538" width="1.78424" height="3.63636" rx="0.892121" transform="rotate(135 10.0952 8.98538)" fill="#E35205"/>
  <rect x="32.5" y="16.7594" width="1.78424" height="3.63636" rx="0.892121" transform="rotate(90 32.5 16.7594)" fill="#E35205"/>
  <rect x="6.13635" y="16.7594" width="1.78424" height="3.63636" rx="0.892121" transform="rotate(90 6.13635 16.7594)" fill="#E35205"/>
  <rect x="22.0676" y="3.80061" width="1.78424" height="3.63636" rx="0.892121" transform="rotate(22.5 22.0676 3.80061)" fill="#E35205"/>
  <rect x="11.9786" y="28.1574" width="1.78424" height="3.63636" rx="0.892121" transform="rotate(22.5 11.9786 28.1574)" fill="#E35205"/>
  <rect x="10.587" y="4.483" width="1.78424" height="3.63636" rx="0.892121" transform="rotate(-22.5 10.587 4.483)" fill="#E35205"/>
  <rect x="20.676" y="28.8398" width="1.78424" height="3.63636" rx="0.892121" transform="rotate(-22.5 20.676 28.8398)" fill="#E35205"/>
  <rect x="16.2594" y="3" width="1.78424" height="3.63636" rx="0.892121" fill="#E35205"/>
  <rect x="16.2594" y="29.3636" width="1.78424" height="3.63636" rx="0.892121" fill="#E35205"/>
</svg>
{% else %}
<svg width="35px" height="35px" viewBox="0 0 35 35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <!-- Generator: Sketch 55.2 (78181) - https://sketchapp.com -->
  <title>Group 3 Copy</title>
  <desc>Created with Sketch.</desc>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="Account_Bonus_Prod" transform="translate(-991.000000, -1721.000000)">
      <g id="pop-up_2" transform="translate(976.000000, 1706.000000)">
        <g id="Group-3-Copy" transform="translate(15.000000, 15.000000)">
          <path d="M17.5,35 C27.1649831,35 35,27.1649831 35,17.5 C35,7.83501688 27.1649831,0 17.5,0 C7.83501688,0 0,7.83501688 0,17.5 C0,27.1649831 7.83501688,35 17.5,35 Z M17.5,34 C8.38730163,34 1,26.6126984 1,17.5 C1,8.38730163 8.38730163,1 17.5,1 C26.6126984,1 34,8.38730163 34,17.5 C34,26.6126984 26.6126984,34 17.5,34 Z" id="Oval" fill="#E35205" fill-rule="nonzero" opacity="0.800000012"></path>
          <rect id="Rectangle" fill="#E35205" transform="translate(29.678209, 22.695977) rotate(112.500000) translate(-29.678209, -22.695977) " x="28.7860879" y="20.877795" width="1.78424242" height="3.63636364" rx="0.892121212"></rect>
          <rect id="Rectangle-Copy" fill="#EBEBEB" transform="translate(5.321385, 12.607050) rotate(112.500000) translate(-5.321385, -12.607050) " x="4.42926384" y="10.7888681" width="1.78424242" height="3.63636364" rx="0.892121212"></rect>
          <rect id="Rectangle" fill="#E35205" transform="translate(29.678615, 12.607050) rotate(67.500000) translate(-29.678615, -12.607050) " x="28.7864937" y="10.7888681" width="1.78424242" height="3.63636364" rx="0.892121212"></rect>
          <rect id="Rectangle-Copy" fill="#EBEBEB" transform="translate(5.321791, 22.695977) rotate(67.500000) translate(-5.321791, -22.695977) " x="4.4296697" y="20.877795" width="1.78424242" height="3.63636364" rx="0.892121212"></rect>
          <rect id="Rectangle" fill="#E35205" transform="translate(26.821328, 8.330562) rotate(45.000000) translate(-26.821328, -8.330562) " x="25.9292068" y="6.51238031" width="1.78424242" height="3.63636364" rx="0.892121212"></rect>
          <rect id="Rectangle-Copy" fill="#EBEBEB" transform="translate(8.179422, 26.972468) rotate(45.000000) translate(-8.179422, -26.972468) " x="7.28730074" y="25.1542864" width="1.78424242" height="3.63636364" rx="0.892121212"></rect>
          <rect id="Rectangle" fill="#E35205" transform="translate(26.820578, 26.972468) rotate(135.000000) translate(-26.820578, -26.972468) " x="25.9284568" y="25.1542864" width="1.78424242" height="3.63636364" rx="0.892121212"></rect>
          <rect id="Rectangle-Copy" fill="#EBEBEB" transform="translate(8.178672, 8.330562) rotate(135.000000) translate(-8.178672, -8.330562) " x="7.28655078" y="6.51238031" width="1.78424242" height="3.63636364" rx="0.892121212"></rect>
          <rect id="Rectangle" fill="#E35205" transform="translate(30.681818, 17.651515) rotate(90.000000) translate(-30.681818, -17.651515) " x="29.789697" y="15.8333333" width="1.78424242" height="3.63636364" rx="0.892121212"></rect>
          <rect id="Rectangle-Copy" fill="#EBEBEB" transform="translate(4.318182, 17.651515) rotate(90.000000) translate(-4.318182, -17.651515) " x="3.42606061" y="15.8333333" width="1.78424242" height="3.63636364" rx="0.892121212"></rect>
          <rect id="Rectangle" fill="#E35205" transform="translate(22.195977, 5.821791) rotate(22.500000) translate(-22.195977, -5.821791) " x="21.3038556" y="4.00360909" width="1.78424242" height="3.63636364" rx="0.892121212"></rect>
          <rect id="Rectangle-Copy" fill="#EBEBEB" transform="translate(12.107050, 30.178615) rotate(22.500000) translate(-12.107050, -30.178615) " x="11.2149287" y="28.3604331" width="1.78424242" height="3.63636364" rx="0.892121212"></rect>
          <rect id="Rectangle" fill="#EBEBEB" transform="translate(12.107050, 5.821385) rotate(-22.500000) translate(-12.107050, -5.821385) " x="11.2149287" y="4.00320323" width="1.78424242" height="3.63636364" rx="0.892121212"></rect>
          <rect id="Rectangle-Copy" fill="#E35205" transform="translate(22.195977, 30.178209) rotate(-22.500000) translate(-22.195977, -30.178209) " x="21.3038556" y="28.3600273" width="1.78424242" height="3.63636364" rx="0.892121212"></rect>
          <rect id="Rectangle" fill="#E35205" x="16.2593939" y="3" width="1.78424242" height="3.63636364" rx="0.892121212"></rect>
          <rect id="Rectangle-Copy" fill="#E35205" x="16.2593939" y="29.3636364" width="1.78424242" height="3.63636364" rx="0.892121212"></rect>
        </g>
      </g>
    </g>
  </g>
</svg>
{% endif %}