<div class="info-product">
<div class="info-product__item"><img src={{ "induction_icon.svg" | asset_url }}>
<p>Технологiя iндукцiйного нагрiвання</p>
</div>
<div class="info-product__item"><img src={{ "boost.svg" | asset_url }}>
<p>2 режими роботи - Стандарт та Boost</p>
</div>
<div class="info-product__item"><img src={{ "tobacco_icon.svg" | asset_url }}>
<p>Бiльше тютюнового смаку</p>
</div>
</div>