<div class="container-fliud block-mt" style="display: none;">
  <div class="container">
    <div class="row">
      <div class="col-lg-16">
        {% if product.handle == 'clean-glo'%}
        <div class="product-full-desc">
        <p>Ця продукція призначена для використання виключно з glo</p>
        <p>Під час використання пристрій може забруднитись не тільки зовні, а й зсередини. Для підтримання працездатності пристрою для нагрівання тютюну рекомендується очищувати його через кожні 20 сеансів використання. Якщо у камері є залишки тютюну — не треба витрушувати чи діставати їх сторонніми засобами, це може пошкодити пристрій та вплинути на його роботу.</p>
        <p>Спеціальна щітка для чищення glo<sup>ТМ </sup>допоможе доглядати за камерою нагріву та видаляти з неї залишки тютюну.</p>
        <p>Зауважте! Очищувати можна тільки вимкнений пристрій, не раніше ніж через 5 хвилин після останнього сеансу.</p>
        <p><span>Перед початком чищення необхідно відкрити верхній затвор, а також спеціальний отвір, розташований знизу. Для кращого результату рекомендується чистити пристрій з обох сторін. Не допускається використання розчинника, бензолу або спирту. </span></p>
        <p>Для очищення щіточки достатньо прополоскати її під проточною водою. Перед чищенням пристрою переконайтесь, що щітка повністю висохла.</p>
        <p>Комплект складається з 2 щіток.</p>
        </div>
        {%endif%}
      </div>
    </div>
 </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
