<!-- product slider (left img right text) -->
<div class="container-fliud block-mb lr0-xs">
    <div class="container lazy slick-slider product-slider slider lr0-xs">
      <div class="row slider-block text-center lr0-xs">
          <div class="col-lg-9 slider__img lr0-xs">
            <img data-src={{ "slider-glo-pink.webp" | asset_url }} alt="glo pro" class="lazyload lazypreload">
          </div>
            <div class="col-lg-7">
            <h3 class="slider__title">glo<span class="TM">TM</span> pro</h3>
           
            <p class="slider__subtitle">Вишуканий. Потужний</p>
            <p class="slider__desc">Новий унікальний девайс з режимом Boost, завдяки якому смак тютюну стає ще більш насиченим</p>
            <a href="/collections/starter-kit/products/glo-pro-kit" class="btn btn-primary">
                Дізнатися більше
            </a>
          </div>
      </div>
      <div class="row slider-block text-center lr0-xs">
          <div class="col-lg-9 slider__img lr0-xs">
            <img data-src={{ "slider-glo-nano.webp" | asset_url }} alt="glo nano" class="lazyload lazypreload">
           
          </div>
            <div class="col-lg-7">
            <h3 class="slider__title">glo<span class="TM">TM</span> nano</h3>
            <p class="slider__subtitle">Легкий та компактний</p>
            <p class="slider__desc">Більше твого стилю та індивідуальності в новому легкому, витонченому та яскравому пристрої.</p>
            <a href="/products/glo-nano" class="btn btn-primary">
                Дізнатися більше
            </a>
          </div>
      </div>
      
     </div>
  </div>