<!-- product slider (left img right text) -->
<div class="container-fliud block-mb">
  <div class="lazy product-slider slider">
    <div class="row slider-block text-center">
    	<div class="col-lg-16 slider__img">
          <img src={{ "slide_homepage-1-min.jpg" | asset_url }} class="lazyload lazypreload">
        </div>
	</div>
    <div class="row slider-block text-center">
    	<div class="col-lg-16 slider__img">
          <img src={{ "slide_homepage-2-min.jpg" | asset_url }} class="lazyload lazypreload">
        </div>
	</div>
    <div class="row slider-block text-center">
    	<div class="col-lg-16 slider__img">
          <img src={{ "slide_homepage-3-min.jpg" | asset_url }} class="lazyload lazypreload">
        </div>
	</div>
   </div>
</div>