<div class="container-fliud block-mb lr0-xs">
    <div class="container lazy slick-slider product-slider arrow--left slider lr0-xs">
      <div class="row slider-block text-center lr0-xs">
         
          <div class="col-lg-7">
            <h2 class="">Блог</h2>
            <h3 class="slider__title-video">TODAY I WILL челендж</h3>
            <p class="slider__desc">Захоплюючий політ над Києвом з Андрієм Бєдняковим та переможцями TIW челенджу</p>
            <a href="/blogs/info/today-i-will" class="btn btn-primary">
              Детальніше
            </a>
          </div>
         <div class="col-lg-9 slider__img mT20-xs lr0-xs">
           <img data-src={{ "slider_bednyakov-blog.jpg" | asset_url }} alt="TIW челендж" class="lazy lazyload">
           
          </div>
      </div>
      <div class="row slider-block text-center lr0-xs ">
          
          <div class="col-lg-7">
            <h2 class="">Блог</h2>
            <h3 class="slider__title-video">glo<span class="TM">TM</span> оголошує про партнерство з McLaren</h3>
            <p class="slider__desc">Зустрічай пристрій, натхненний партнерством з командою Формули-1 McLaren</p>
            <a href="/blogs/info/glo-and-mclaren-partners" class="btn btn-primary">
              Детальніше
            </a>
          </div>
        <div class="col-lg-9 slider__img mT20-xs lr0-xs">
          	<img data-src={{ "slider_mclaren.jpg" | asset_url }} alt="партнерство з McLaren" class="lazy lazyload">
            
          </div>
      </div>
      
     </div>
</div>

