.btn, .shopify-payment-button .shopify-payment-button__button--unbranded, .shopify-payment-button .shopify-payment-button__button--unbranded:hover {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    width: auto;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #2f2f2f;
    border-radius: 0;
    padding: 8px 32px;
    background-color: #fff;
    color: #2f2f2f;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: normal;
    white-space: normal;
    font-size: 16px;
}
.btn {
    font-weight: 400 !important;
    font-size: 14px;
}
