<div class="container">
   <div class="row">
      <div class="col-lg-offset-5 col-lg-6 col-md-offset-3 col-md-10 col-xs-16">
         <form id="passRecoverForm" class="form-vertical">
            <h1 class="text-center">Вiдновлення паролю</h1>
            <div class="form-message form-message--error" style="display:none" id="errBox"></div>
            <!-- Code -->
            <label for="smsCode">Код iз SMS</label>
            <input
               type="text"
               name="code"
               id="smsCode"
               class="c-field__input"
               autocorrect="off"
               autocomplete="new-password"
               >
            <div id="smsCodeErr" class="form-error"></div>

            <!-- Password -->
            <div class="input--pass">
               <label class="c-field__label" for="pass">Пароль</label>
               <input
                       type="password"
                       name="password"
                       id="pass"
                       class="c-field__input"
                       autocorrect="off"
                       autocomplete="new-password"
               >
               <div id="passErr" class="form-error"></div>
            </div>

            <div class="input--pass">
               <!-- Password Confirm -->
               <label class="c-field__label" for="passConf">Підтвердження паролю</label>
               <input
                       type="password"
                       name="password"
                       id="passConf"
                       class="c-field__input"
                       autocorrect="off"
                       autocomplete="new-password"
               >
               <div id="passConfErr" class="form-error"></div>
            </div>


            <!--Check -->
            <div class="input-agree">
               <input type="checkbox"
                      value="1"
                      name="customer_agreement"
                      id="customer_agreement">
               <label for="customer_agreement"></label>
               <p>Я приймаю <a href="/pages/ugoda-z-korystuvachem">Угоду з користувачем</a> і даю згоду на обробку персональних даних</p>
               <div id="agreementErr" class="form-error"></div>
            </div>

            <div class="text-center pT20">
               <button type="submit" class="btn submit-register-btn2">Продовжити</button>
            </div>
         </form>
      </div>
   </div>
</div>
<script src="{{ 'customer_recovery_confirm.js' | asset_url }}"></script>
<script>
   var RecoverConf = {
       urlCheckCode: 'https://{{ settings.bride_domain }}/api/customer/password/restore',
       urlLogin: '/account/login',
       msg: {
           required: 'Необхідно заповнити поле',
           tryAgain: 'Помилка, спробуйте ще раз',
           passNotEqual: 'Паролі не співпадають',
           minPassLength: 'Мінімальна довжина пароля повинна бути 8 символів'
       }
   }
</script>