<div class="container">
  <div class="row">
    <div class="col-lg-5 col-xs-16">
      
      <div class="row">
        <div class="col-lg-16">
          <h3>glo Bonus Club</h3>
        </div>
        <div class="col-lg-16 tab_menu hidden-md hidden-lg">
          <b>Тест, вітаємо!</b><br>
          Ти з нами вже 1 рік<br>
          У тебе <b>1000 балів</b><br>
          Твій код для друзів: <b>REW-123234</b><br>
        </div>
        <div class="col-lg-16 tab_menu"><a href="">Отримати бонуси</a></div>
        <div class="col-lg-16 tab_menu"><a href="">Витратити бонуси</a></div>
        <div class="col-lg-16 tab_menu"><a href="">Профайл</a></div>
        <div class="col-lg-16 tab_menu"><a href="">Історія бонусів</a></div>
        <div class="col-lg-16 tab_menu"><a href="">Історія покупок</a></div>
        <div class="col-lg-16 tab_menu"><a href="">Маєш питання?</a></div>
        <div class="col-lg-16 tab_menu"><a href="">Правила програми</a></div>
      </div>
    
    </div>
    <div class="col-lg-11">
    	<div>
          <h3 class="hidden-sm hidden-xs">Тест, вітаємо!</h3>
          <div class="row pB20 hidden-sm hidden-xs">
            <div class="col-lg-4">
            	<p>Ти з нами вже 1 рік<p>
            </div>
            <div class="col-lg-4">
            	<p>У тебе <b>1000 балів</b></p>
            </div>
            <div class="col-lg-8">
            	<p>Твій код для друзів: <b>REW-123234</b></p>
            </div>
          </div>
          <div class="row pB20">
              <div class="col-lg-16">
                <p>glo Bonus Club - це гарна можливість накопичувати бонуси. За кожну покупку, рекомендацію друга, за будь-який крок з нами ми будемо нароховувати тобі бонуси</p>
              </div>
          </div>
          <div class="border-top">
            <div class="row pB20">
              <div class="col-lg-7">               
                <p><img src={{ "lk-icon-buy_history.svg" | asset_url }} class="lk-icon-annonce" alt="customers_bonus"/>
                  Отримуй бонуси за кожну покупку
                </p>
              </div>
              <div class="col-lg-9">               
                <p class="xs-ml35">1грн = 4 бонуси</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-16">               
                <p>Здесь можно дать еще описание - механика или инфографика</p>
              </div>
              
            </div>
          </div>
          <div class="border-top">
            <div class="row pB20">
              <div class="col-lg-7">               
                <p><img src={{ "lk-icon-friend.svg" | asset_url }} class="lk-icon-annonce" alt="customers_bonus"/>Рекондуй друзям glo</p>
              </div>
              <div class="col-lg-9">               
                <p class="xs-ml35">2500 бонусів за кожну рекомендацію</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-16">               
                <p>Здесь можно дать еще описание - механика или инфографика</p>
              </div>
              
            </div>
          </div>
          <div class="border-top">
            <div class="row pB20">
              <div class="col-lg-7">               
                <p><img src={{ "lk-icon-bonus_about.svg" | asset_url }} class="lk-icon-annonce" alt="customers_bonus"/>Тегай @glo_ukraine у своїх постах</p>
              </div>
              <div class="col-lg-9">               
                <p class="xs-ml35">500 за згадування</p>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-16">               
                <p>Здесь можно дать еще описание - механика или инфографика</p>
              </div>
            </div>
          </div>
          <div class="border-top">
            <div class="row">
              <div class="col-lg-16">               
                <p>Здесь можно разместить товары за бонусы</p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div> 
</div>

<style>
  .tab_menu {
  	padding: 10px 0;
    
    margin: 0 10px;
    font-size: 16px;
  }
  
  @media screen and (max-width: 991px){
        .tab_menu {
          text-align: center;
          border-bottom: 1px solid #ccc;
          padding: 20px 0;
        }
        .xs-ml35 {
        	margin-left: 35px !important;
        }
  	}
  .border-top {
  	border-top: 1px solid #ccc;
	padding: 20px 0;
  }
  .lk-icon-annonce {
	width: 22px;
    vertical-align: text-top;
    margin-right: 10px;
  }
  
</style>