<div class="container">
  <div class="row">
    <div class="col-lg-16">
      <h1>{{ page.title }}</h1>
    </div>
  </div>
</div>
<div class="container block-mb">
  <div class="row">
    <div class="col-lg-16">

      {{ page.content }}
      <p class="register-device_subtitle_big">Дякуємо!</p>
      <p>Ваш пристрій успішно зареєстровано</p>
      <div class="register-device_link"><a href="/">На головну</a></div>


    </div>
  </div>
</div>


