<div class="container-fliud block-mb">
    <div class="container">
        <div class="row">
            <div class="col-lg-16">
                <h1>{{ page.title }}</h1>
                <div class="">
                    {{ page.content }}
                    <h3>ТЕХНОЛОГІЯ glo™</h3>
                    <ul class="faq">
                        <li>
                            <input type="checkbox" id="qua-1" checked>
                            <i></i>
                            <label for="qua-1" class="faq__title">Що таке glo™?</label>
                            <div class="faq__body">
                                <p>glo™ – це інноваційна  смарт-технологія нагрівання тютюну, що зменшує кількість токсинів на 90%*. Разом із тютюновими стіками neo™ технологія індукційного нагрівання розкриває багатогранний смак спеціально відібраних сортів тютюну. glo™ та neo™ призначені для використання повнолітніми споживачами тютюнових виробів.</p>
                                <p><small>* Порівняння диму від спаленого тютюну у стандартних сигаретах 3R4F (приблизно 9 мг смол) та аерозолю від нагрітого тютюну у пристрої glo™. Порівнюється 9 шкідливих компонентів, рекомендованих ВООЗ до зменшення. Це не обов’язково означає, що цей продукт є менш шкідливим, ніж інші тютюнові продукти.</small></p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qua-2" checked>
                            <i></i>
                            <label for="qua-2" class="faq__title">В чому полягає особливість технології індукційного нагрівання?</label>
                            <div class="faq__body">
                                <p>Індукційне нагрівання – це прогресивна технологія, широко застосовувана у побуті (наприклад, у сучасних кухонних плитах), що була зменшена для удосконалення процесу нагрівання у пристрої glo. Індукційне нагрівання працює наступним чином – стік вставляється всередину пристрою у металеву камеру, яка нагрівається спеціальним індуктором за допомогою магнітного поля. Дана технологія дозволяє нагрівати стік швидше і забезпечує більш виразний смак тютюну.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qua-3" checked>
                            <i></i>
                            <label for="qua-3" class="faq__title">Який основний механізм роботи пристроїв glo™?</label>
                            <div class="faq__body">
                                <p>Всередині пристрою знаходиться циліндрична камера, в яку вставляється тютюновий стік. При активації девайсу батарея подає напругу до нагрівальної камери, де і нагрівається тютюн в стандартному режимi не вище  250+-5°C, у режимі Boost  до 280°C  (у пристроях  glo™ pro  та  glo™ HYPER). У результаті утворюється насичений нікотином аерозоль.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qua-4" checked>
                            <i></i>
                            <label for="qua-4" class="faq__title">Чому при використанні пристрою glo™ не утворюється попіл?</label>
                            <div class="faq__body">
                                <p>Попіл утворюється під час спалювання тютюну, а при використанні пристрою glo™ відбувається нагрівання тютюну без горіння.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qua-5" checked>
                            <i></i>
                            <label for="qua-5" class="faq__title">Чим  технологія glo™ відрізняється від сигарет або куріння тютюну?</label>
                            <div class="faq__body">
                                <p>glo™ нагріває тютюн без горіння, тому немає сигаретного диму, а натомість утворюється тютюновий аерозоль. Сигарети спалюють тютюн приблизно при 900°C. Широко визнано, що велика частина шкоди, пов'язаної з тютюном, викликана вдиханням диму, що утворюється при спалюванні тютюну. В glo™ тютюн не спалюється, а нагрівається, тому в результаті виділяється на 90% менше токсинів* у порівнянні зі звичайними сигаретами, що робить використання glo™  потенційно менш небезпечним для здоров'я.</p>
                                <p class="lh-1" style="margin-bottom: 13px;"><small>* Порівняння диму від спаленого тютюну у стандартних сигаретах 3R4F (приблизно 9 мг смол) та аерозолю від нагрітого тютюну у пристрої glo™. Порівнюється 9 шкідливих компонентів, рекомендованих ВООЗ до зменшення. Це не обов’язково означає, що цей продукт є менш шкідливим, ніж інші тютюнові продукти.</small></p>
                            </div>

                        </li>
                        <li>
                            <input type="checkbox" id="qua-6" checked>
                            <i></i>
                            <label for="qua-6" class="faq__title">Чи можна вважати, що пристрій glo™ менш шкідливий для здоров’я, ніж електронні сигарети?</label>
                            <div class="faq__body">
                                <p>Ці пристрої некоректно порівнювати, тому що вони функціонують по-різному. На сьогоднішнй день відсутні результати досліджень щодо різниці впливу систем для нагрівання тютюну й електронних сигарет на здоров’я людини. Без наукових даних ми не можемо стверджувати, що glo™ є менш шкідливим для здоров’я, аніж інші тютюнові або нікотиновмісні продукти.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qua-7" checked>
                            <i></i>
                            <label for="qua-7" class="faq__title">В чому різниця між досвідом використання пристрою glo™ і курінням тютюну (звичайної сигарети)?</label>
                            <div class="faq__body">
                                <p>glo™ – це цілком новий спосіб споживання тютюну, в якому використовується технологія індукційного нагрівання*. Спочатку смак може видатися незвичним, відрізнятися від смаку тютюну в сигареті, але це тому, що він не містить компонентів, які утворюються під час горіння тютюну. При використанні glo™ виділяється в середньому на 90% менше токсинів** і, при цьому, не утворюється попелу та диму*** і залишається менше запаху на одязі****.</p>
                                <p><small>* в моделях glo™ HYPER та glo™ pro</small></p>
                                <p><small>** Порівняння диму від спаленого тютюну у стандартних сигаретах 3R4F (приблизно 9 мг смол) та аерозолю від нагрітого тютюну у пристрої glo™. Порівнюється 9 шкідливих компонентів, рекомендованих Всесвітньою Організацією Охорони Здоров’я ВООЗ до зменшення.</small></p>
                                <p><small>*** Без сигаретного диму, тільки аерозоль від нагрітого тютюну.</small></p>
                                <p><small>**** У порівнянні з димом від звичайної сигарети.</small></p>
                                <p><small>Ці якості не обов’язково означають, що цей продукт є менш шкідливим, ніж інші тютюнові продукти.</small></p>
                            </div>
                        </li>
                    </ul>
                    <br><br>

                    <h3>СТІКИ neo™ ДЛЯ glo™</h3>
                    <ul class="faq">
                        <li>
                            <input type="checkbox" id="qua-8" checked>
                            <i></i>
                            <label for="qua-8" class="faq__title">Чим відрізняються тютюнові  стіки форматів нано та демі?</label>
                            <div class="faq__body">
                                <p>Стіки neo™  у форматі демі — це лінійка стіків, розроблена для використання з пристроями для нагрівання тютюну glo™ HYPER, в той час як стіки neo™  у форматі нано - для glo™ pro, glo™ nano та glo™ 2.0.</p>
                                <p>Стіки  формату демі містять на 30% більше тютюну, що забезпечує  більше насичення від тютюну.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qua-9" checked>
                            <i></i>
                            <label for="qua-9" class="faq__title">Які смаки наявні в лінійках стіків neo™ у форматі демі та нано?</label>
                            <div class="faq__body">
                                <p>В лінійці стіків neo™  у форматі демі ти можеш знайти як класичний тютюновий смак, так і унікальні пропозиції з капсулами.</p>
                                <p><b>TERRACOTA TOBACCO</b> - Добре збалансований, насичений смак високоякісного тютюну з кремовими нотками та м’яким післясмаком.</p>
                                <p><b>REDBERRY PASTEL</b> - Освіжаючий смак ментолу, що гармонічно поєднується з насиченим тютюновим ароматом. Доповнено капсулою зі смаком міксу червоних ягід.</p>
                                <p><b>BRILLIANT BERRY</b> - Класичний тютюновий смак із легким ягідним ароматом. Доповнений капсулою зі смаком лісової ягоди та фільтром  із солодким присмаком для більш яскравого та багатогранного смаку. </p>
                                <p><b>MAGNETIC PINEAPPLE</b> - Збалансований тютюновий смак, що в один клік доповнюється яскравими нотками тропічних фруктів. </p>
                                <p>В лінійці  стіків neo™  у форматі нано  також доступний широкий вибір смаків:</p>
                                <p><b>RICH TABACCO</b> – насичений, оксамитовий смак класичного тютюну</p>
                                <p><b>CREAMY TABACCO</b> – м’який смак класичного тютюну з кремовими відтінками. Доповнено фільтром із солодким присмаком</p>
                                <p><b>DARK FRESH</b> – вишуканий смак класичного тютюну з ментолом та ягідними нотками</p>
                                <p><b>CITRIC MIX</b> – смак класичного тютюну з освіжаючими цитрусовими відтінками</p>
                                <p><b>BOOST RED</b> – мікс ягідних та освіжаючих смаків в одній капсулі</p>
                                <p><b>BOOST ROYALE</b> – солодкий мікс ягідних смаків в одній капсулі. Доповнено фільтром із солодким присмаком</p>
                                <p><b>BOOST SCARLET</b> – мікс фруктового та карамельного смаків в одній капсулі. Доповнено фільтром із солодким присмаком</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qua-10" checked>
                            <i></i>
                            <label for="qua-10" class="faq__title">З чого складаються стіки neo™? </label>
                            <div class="faq__body">
                                <p>Всі стіки нео містять високоякісний тютюн Вірджинія, спеціально оброблений та підготовлений для нагрівання. </p>
                                <p>Стіки neo™ складаються з тютюнового стержня і Tube- фільтра, які об'єднані та обгорнуті в папір. Окрім цього, стіки формату демі містять тонкий шар алюмінієвої фольги, що  запобігає тлінню стіка.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qua-11" checked>
                            <i></i>
                            <label for="qua-11" class="faq__title">Чи можна вважати, що один стік neo™ – це як споживання однієї сигарети з точки зору насиченння нікотином?</label>
                            <div class="faq__body">
                                <p>З огляду на кардинальні відмінності процесів горіння і нагрівання тютюну, також відрізняється і кількість нікотину, що отримується в процесі. Кількість нікотину залежить від особливостей використання пристрою дял нагрівання тютюну (від сили, глибини і частоти затяжки користувача).</p>
                            </div>
                        </li>
                    </ul>
                    <br><br>
                    <h3>ПОКУПКА ТА РЕЄСТРАЦІЯ ПРИСТРОЮ</h3>
                    <ul class="faq">
                        <li>
                            <input type="checkbox" id="qua-12" checked>
                            <i></i>
                            <label for="qua-12" class="faq__title">Де я можу придбати пристрій glo™?</label>
                            <div class="faq__body">
                                <p>Продукцію glo™ можна замовити на офіційному сайті myglo.com.ua або придбати у фірмових магазинах glo™ studio та в роздрібних мережах. Адреси точок продажу ти можеш знайти у відповідному розділі <a href="/pages/contact-us#go-buy">«Де придбати»</a> на сайті.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qua-13" checked>
                            <i></i>
                            <label for="qua-13" class="faq__title">Що входить у комплект набору glo™?</label>
                            <div class="faq__body">
                                <p>Коробка, пристрій glo™, USB-кабель, блок живлення, щіточка для чищення. На сайті також доступні товарні позиції, до яких входить пристрій glo™ та блок стіків neo™.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qua-14" checked>
                            <i></i>
                            <label for="qua-14" class="faq__title">Навіщо мені реєструвати пристрій glo™?</label>
                            <div class="faq__body">
                                <p>Пристрій необхідно зареєструвати для того, щоб згідно з умовами Програми лояльності скористатися можливістю обміняти пристрій у разі його несправності протягом 1 року з дати придбання, а також отримати доступ до низки ексклюзивних переваг:</p>
                                <ul>
                                    <li>оперативна заміна девайсу в разі дефектів;</li>
                                    <li>служба підтримки glo™ завжди буде рада допомогти у вирішенні будь-яких питань;</li>
                                    <li>підтримка після покупки пристрою;</li>
                                    <li>ти будеш першим, хто дізнається про всі останні новини glo™ і отримає доступ до персональних пропозицій.</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <input type="checkbox" id="qua-15" checked>
                            <i></i>
                            <label for="qua-15" class="faq__title">Як  я можу зареєструвати пристрій glo™?</label>
                            <div class="faq__body">
                                <p>Ти можеш зареєструвати свій пристрій за унікальним кодом пристрою у розділі <a href="/pages/register-device">«Зареєструвати пристрій»</a> на сайті myglo.com.ua.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qua-16" checked>
                            <i></i>
                            <label for="qua-16" class="faq__title">Де знаходиться унікальний код пристрою?</label>
                            <div class="faq__body">
                                <p>Унікальний код пристрою можна знайти на нижній панелі коробки набору glo™: ти побачиш помаранчеву наліпку з кодом вашого пристрою glo™.</p>
                            </div>
                        </li>
                    </ul>
                    <br><br>
                    <h3>ЕКСПЛУАТАЦІЯ ДЕВАЙСУ</h3>
                    <ul class="faq">
                        <li>
                            <input type="checkbox" id="qua-17" checked>
                            <i></i>
                            <label for="qua-17" class="faq__title">Чому glo pro та glo HYPER мають декілька режимів роботи? </label>
                            <div class="faq__body">
                                <p>Режим Boost був розроблений для того, щоб у тебе була додаткова можливість швидше нагріти стік при трохи вищій температурі та отримати більше насичення від тютюну. У режимі Standard пристрій нагріває стік до температури 250 ºС, при цьому тривалість сесії складає 4 хвилини. За допомогою режиму Boost стік прогріється до 280ºС. Тривалість сесії у режимі Boost трохи менша і складає 3 хвилини.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qua-18" checked>
                            <i></i>
                            <label for="qua-18" class="faq__title">Як я можу включити режим Boost?</label>
                            <div class="faq__body">
                                <p>Просто натисни і тримай круглу кнопку в центрі пристрою, після чого через 3 секунди пристрій почне вібрувати (активується стандартний режим), продовжуй  утримувати кнопку та відпусти при другій вібрації через 5 секунд, щоб активувати режим Boost.</p>
                                <p>Після активації стандартного або Boost режиму користувач не може змінити режим до завершення сеансу використання.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qua-19" checked>
                            <i></i>
                            <label for="qua-19" class="faq__title">Як включити/вимкнути вібрацію на пристрої?</label>
                            <div class="faq__body">
                                <p>Функція вібрації у пристрої для нагрівання тютюну glo™ за замовчуванням включена.
                                <p><b>Щоб відключити вібрацію</b>, затисни контрольну кнопку на пристрої на 10 секунд. Пристрій для нагрівання тютюну glo™ злегка завібрує через 3 секунди. Продовжуйте тримати контрольну кнопку натиснутою. Пристрій двічі завібрує, в цей момент відпусти кнопку і натисни знову, щоб вимкнути функцію вібрації. Це повинно бути зроблено протягом 5 секунд, поки пристрій вібрує.
                                <p><b>Щоб знову включити функцію вібрації</b>, затисни контрольну кнопку пристрою для нагрівання тютюну glo™ на 10 секунд. Після 3 секунд пристрій не завібрує. Продовжуй тримати контрольну кнопку натиснутою. Пристрій завібрує один раз, в цей момент відпусти кнопку і тут же натисни її знову, щоб включити функцію вібрації. Це повинно бути зроблено протягом 5 секунд, поки пристрій вібрує</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qua-20" checked>
                            <i></i>
                            <label for="qua-20" class="faq__title">Де  і як я можу обміняти свій пристрій?</label>
                            <div class="faq__body">
                                <p>Ти можеш обміняти пристрій glo™ на новий протягом 12 місяців з моменту придбання або з моменту останього обмiну у випадку втрати ним функціональних характеристик.</p>
                                <p>Замiна пристрою можлива при наявностi коробки набору glo™, де вказаний код пристрою. </p>
                                <p>Перелік авторизованих пунктів обміну glo™ можна знайти на нашому сайтi: <a href="https://myglo.com.ua/pages/ugoda-z-korystuvachem">https://myglo.com.ua/pages/ugoda-z-korystuvachem</a></p>
                                <p>Якщо твоє місто відсутнє в перелiку, будь ласка, звернись на нашу гарячу лінію підтримки користувачів за телефоном 8 800 50 90 80 або 8008* або на info@myglo.com.ua або звернись в чат-бот “myglobot_ua</p>
                                <p><small>*Дзвінки безкоштовні. Тільки для повнолітніх.</small></p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qua-21" checked>
                            <i></i>
                            <label for="qua-21" class="faq__title">Як я можу повернути пристрій?</label>
                            <div class="faq__body">
                                <p>Пристрій glo™ можна повернути, якщо ним не користувалися, збережено товарний вигляд продукції, ярлики, упаковка, комплектність і при собі ти маєш упаковку зі всіма комплектуючими (USB-кабель, адаптер, щітка для чищення), протягом 14 днів з моменту покупки (або 14 днів з моменту доставки кур’єрською службою). Детальніше ти можеш дізнатися у розділі <a href="/ru/pages/ugoda-z-korystuvachem#conditions">«Порядок повернення та обміну угоди з користувачем»</a> на сайті myglo.com.ua.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qua-22" checked>
                            <i></i>
                            <label for="qua-22" class="faq__title">Що  робити, якщо пристрій glo™ не працює належним чином?</label>
                            <div class="faq__body">
                                <p>Будь ласка, звернись на гарячу лінію підтримки користувачів за телефоном 8 800 50 90 80 або 8008*; e-mail info@myglo.com.ua.</p>
                                <p><small>*Дзвінки безкоштовні. Тільки для повнолітніх.</small></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container faq__info">
        <div class="row">
            <div class="col-lg-16">
                <p class="faq__info_text">Не знайшли відповідь на своє питання? Зателефонуйте на гарячу лінію підтримки користувачів або скористайтеся формою зворотнього зв’язку.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-8 col-xs-16">
                <a class="faq__info_link" href="/pages/contact-us">ЗВОРОТНІЙ ЗВ'ЯЗОК</a>
            </div>
            <div class="col-lg-10 col-md-8 col-xs-16">
                <p class="faq__info_phone">8 800 50 90 80 або за коротким номером <b>8008</b></p>
            </div>
        </div>
    </div>
</div>

<br/>
<br/>
<br/>
<br/>

<div class="container-fliud block-mb">
    <div class="container">
        <div class="row">
            <div class="col-lg-16">
                <h1>{{ page.title }}</h1>
                <div class="">
                    {{ page.content }}
                    <h3>ТЕХНОЛОГИЯ glo™</h3>
                    <ul class="faq">
                        <li>
                            <input type="checkbox" id="qru-1" checked>
                            <i></i>
                            <label for="qru-1" class="faq__title">Что такое glo™?</label>
                            <div class="faq__body">
                                <p>glo™  –  это инновационная смарт-технология нагревания табака, которая уменьшает количество токсинов на 90%*. Вместе с табачными стиками neo™ технология индукционного нагревания раскрывает многогранный вкус специально отобранных сортов табака. glo™ и neo™ предназначены для использования совершеннолетними потребителями табачных изделий.</p>
                                <p><small>* Сравнение дыма от сожженного табака в стандартных сигаретах 3R4F (примерно 9 мг смол) и аэрозоля от нагретого табака в устройстве glo™. Сравниваются 9 вредных компонентов, рекомендованных ВОЗ к уменьшению. Это не обязательно означает, что этот продукт является менее вредным, чем другие табачные продукты.</small></p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qru-2" checked>
                            <i></i>
                            <label for="qru-2" class="faq__title">В чем заключается особенность технологии индукционного нагревания?</label>
                            <div class="faq__body">
                                <p>Индукционное нагревание — это прогрессивная технология, широко применяемая в быту (например, в современных кухонных плитах), которая была уменьшена для усовершенствования процесса нагревания в устройстве glo. Индукционное нагревание работает следующим образом — стик вставляется внутрь устройства в металлическую камеру, которая нагревается специальным индуктором с помощью магнитного поля. Данная технология позволяет нагревать стик быстрее и обеспечивает более выразительный вкус табака.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qru-3" checked>
                            <i></i>
                            <label for="qru-3" class="faq__title">Какой основной механизм работы устройств gloтм?</label>
                            <div class="faq__body">
                                <p>Внутри устройства находится цилиндрическая камера, в которую вставляется табачный стик. При активации девайса батарея подает напряжение к нагревательной камере, где и нагревается табак в стандартном режиме не выше 250+-5оС, в режиме Boost до 280оС (в устройствах glo™ pro и glo™ HYPER). В результате образуется насыщенный никотином пар.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qru-4" checked>
                            <i></i>
                            <label for="qru-4" class="faq__title">Почему при использовании устройства glo™ не образуется пепел?</label>
                            <div class="faq__body">
                                <p>Пепел образуется во время сжигания табака, а при использовании устройства glo™ происходит нагревание табака без горения.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qru-5" checked>
                            <i></i>
                            <label for="qru-5" class="faq__title">Чем технология glo™ отличается от сигарет или курения табака?</label>
                            <div class="faq__body">
                                <p>glo™ нагревает табак без горения, поэтому нет сигаретного дыма, а взамен образуется табачный аэрозоль. Сигареты сжигают табак примерно при 900°C. Широко признано, что большая часть вреда, связанного с табаком, вызвана вдыханием дыма, образующегося при сжигании табака. В glo™ табак не сжигается, а нагревается, поэтому в результате выделяется на 90% меньше токсинов* по сравнению с обычными сигаретами, что делает использование glo™ потенциально менее опасным для здоровья.</p>
                                <p class="lh-1" style="margin-bottom: 13px;"><small>* Сравнение дыма от сожженного табака в стандартных сигаретах 3R4F (примерно 9 мг смол) и аэрозоля от нагретого табака в устройстве glo™. Сравниваются 9 вредных компонентов, рекомендованных ВОЗ к уменьшению. Это не обязательно означает, что этот продукт является менее вредным, чем другие табачные продукты.</small></p>
                            </div>

                        </li>
                        <li>
                            <input type="checkbox" id="qru-6" checked>
                            <i></i>
                            <label for="qru-6" class="faq__title">Можно ли считать, что устройство glo™ менее вредно для здоровья, чем электронные сигареты?</label>
                            <div class="faq__body">
                                <p>Эти устройства некорректно сравнивать, потому что они функционируют по-разному. На сегодняшний день отсутствуют результаты исследований относительно разницы влияния систем для нагревания табака и электронных сигарет на здоровье человека. Без научных данных мы не можем утверждать, что glo™ является менее вредным для здоровья, чем другие табачные или никотиносодержащие продукты.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qru-7" checked>
                            <i></i>
                            <label for="qru-7" class="faq__title">В чем разница между опытом использования устройства glo™ и курением табака (обычной сигареты)?</label>
                            <div class="faq__body">
                                <p>glo™ –  это полностью новый способ потребления табака, в котором используется технология индукционного нагревания*. Сначала вкус может показаться непривычным, отличаться от вкуса табака в сигарете, но это потому, что он не содержит компонентов, которые образуются при горении табака. При использовании glo™ выделяется в среднем на 90 меньше токсинов** и, при этом, не образуются пепел и дым** и остается меньше запаха на одежде***.</p>
                                <p><small>* В моделях gloтм HYPER glo pro™</small></p>
                                <p><small>**Сравнение дыма от сожженного табака в стандартных сигаретах 3R4F (примерно 9 мг смол) и аэрозоля от нагретого табака в устройстве glo™. Сравниваются 9 вредных компонентов, рекомендованных Всемирной Организацией Здравоохранения (ВОЗ) к уменьшению.</small></p>
                                <p><small>*** Без сигаретного дыма, только аэрозоль от нагретого табака.</small></p>
                                <p><small>*** По сравнению с дымом от обычной сигареты.</small></p>
                                <p><small>Эти качества не обязательно означают, что данный продукт является менее вредным, чем другие табачные продукты.</small></p>
                            </div>
                        </li>
                    </ul>
                    <br><br>

                    <h3>СТІКИ neo™ ДЛЯ glo™</h3>
                    <ul class="faq">
                        <li>
                            <input type="checkbox" id="qru-8" checked>
                            <i></i>
                            <label for="qru-8" class="faq__title">Чем отличаются табачные стики форматов нано и деми?</label>
                            <div class="faq__body">
                                <p>Стики neo™ в формате деми — это линейка стиков, разработанная для использования с устройствами для нагревания табака glo™ HYPER, в то время как стики neo™ в формате нано — для glo™ pro, glo™ nano и glo™ 2.0.</p>
                                <p>Стики формата деми содержат на 30% больше табака, обеспечивают большее насыщение от табака.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qru-9" checked>
                            <i></i>
                            <label for="qru-9" class="faq__title">Какие вкусы имеются в линейках стиков neo™ в формате деми и нано?</label>
                            <div class="faq__body">
                                <p>В линейке стиков neo™ в формате деми ты можешь найти как классический табачный вкус, так и уникальные предложения с капсулами.</p>
                                <p><b>TERRACOTA TOBACCO</b> - Хорошо сбалансированный, насыщенный вкус высококачественного табака с кремовыми нотками и мягким послевкусием.</p>
                                <p><b>REDBERRY PASTEL</b> - Освежающий вкус ментола гармонично сочетается с насыщенным табачным ароматом. Дополнен капсулой со вкусом микса красных ягод.</p>
                                <p><b>BRILLIANT BERRY</b> - Классический табачный вкус с легким ягодным ароматом. Дополнен капсулой со вкусом лесных ягод и фильтром со сладким привкусом для более яркого и многогранного вкуса.</p>
                                <p><b>MAGNETIC PINEAPPLE</b> - Сбалансированный табачный вкус, который в один клик дополняется яркими нотками тропических фруктов.</p>
                                <p>В линейке стиков neo™ в формате нано также доступен широкий выбор вкусов:</p>
                                <p><b>RICH TABACCO</b> – насыщенный бархатный вкус классического табака</p>
                                <p><b>CREAMY TABACCO</b> – мягкий вкус классического табака с кремовыми оттенками. Дополнен фильтром со сладким привкусом</p>
                                <p><b>DARK FRESH</b> – изысканный вкус классического табака с ментолом и ягодными нотками</p>
                                <p><b>CITRIC MIX</b> – вкус классического табака с освежающими цитрусовыми оттенками</p>
                                <p><b>BOOST RED</b> – микс ягодных и освежающих вкусов в одной капсуле</p>
                                <p><b>BOOST ROYALE</b> – сладкий микс ягодных вкусов в одной капсуле. Дополнен фильтром со сладким привкусом</p>
                                <p><b>BOOST SCARLET</b> – микс фруктового и карамельного вкусов в одной капсуле. Дополнен фильтром со сладким привкусом</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qru-10" checked>
                            <i></i>
                            <label for="qru-10" class="faq__title">Из чего состоят стики neo™?</label>
                            <div class="faq__body">
                                <p>Все стики нео содержат высококачественный табак Вирджиния, специально обработанный и подготовленный для нагревания.</p>
                                <p>Стики neo™ состоят из табачного стержня и Tube-фильтра, которые объединены и обернуты в бумагу. Кроме этого, стики формата деми содержат тонкий слой алюминиевой фольги, которая предотвращает тление стика.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qru-11" checked>
                            <i></i>
                            <label for="qru-11" class="faq__title">Можно ли считать, что один стик neo™ - это как потребление одной сигареты с точки зрения насыщения никотином?</label>
                            <div class="faq__body">
                                <p>Учитывая кардинальные различия процессов горения и нагрева табака, также отличается и количество никотина, получаемое в процессе. Количество никотина зависит от особенностей использования устройства для нагрева табака (от силы, глубины и частоты затяжки пользователя).</p>
                            </div>
                        </li>
                    </ul>
                    <br><br>
                    <h3>Покупка и регистрация устройства</h3>
                    <ul class="faq">
                        <li>
                            <input type="checkbox" id="qru-12" checked>
                            <i></i>
                            <label for="qru-12" class="faq__title">Где я могу купить устройство glo™?</label>
                            <div class="faq__body">
                                <p>Продукцию glo™ можно заказать на официальном сайте myglo.com.ua или приобрести в фирменных магазинах glo Studio и в розничных сетях. Адреса точек продаж ты можешь найти в соответствующем разделе <a href="/pages/contact-us#go-buy">«Где купить»</a> на сайте.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qru-13" checked>
                            <i></i>
                            <label for="qru-13" class="faq__title">Что входит в комплект стартового набора glo™?</label>
                            <div class="faq__body">
                                <p>Коробка, устройство glo™, USB-кабель, блок питания, щеточка для чистки. На сайте также доступны товарные позиции, в которые входят устройство glo™ и блок стиков neo™.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qru-14" checked>
                            <i></i>
                            <label for="qru-14" class="faq__title">Зачем мне регистрировать устройство glo™?</label>
                            <div class="faq__body">
                                <p>Устройство необходимо зарегистрировать для того, чтобы в соответствии с условиями Программы лояльности воспользоваться возможностью обменять устройство в случае его неисправности в течение 1 года с даты приобретения, а также получить доступ к ряду эксклюзивных преимуществ:</p>
                                <ul>
                                    <li>оперативная замена девайса в случае дефектов;</li>
                                    <li>служба поддержки glo™ всегда будет рада помочь в решении любых вопросов;</li>
                                    <li>поддержка после покупки устройства;</li>
                                    <li>ты будешь первым, кто узнает все последние новости из мира glo™ и получишь доступ к персональным предложениям.</li>
                                </ul>
                            </div>
                        </li>

                        <li>
                            <input type="checkbox" id="qru-15" checked>
                            <i></i>
                            <label for="qru-15" class="faq__title">Как я могу зарегистрировать устройство glo™?</label>
                            <div class="faq__body">
                                <p>Ты можешь зарегистрировать устройство по уникальному коду устройства в разделе <a href="/pages/register-device">«Зарегистрировать устройство»</a> на главной странице сайта myglo.com.ua.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qru-16" checked>
                            <i></i>
                            <label for="qru-16" class="faq__title">Где находится уникальный код устройства?</label>
                            <div class="faq__body">
                                <p>Уникальный код устройства можно найти на нижней панели коробке glo™: ты увидишь оранжевую наклейку с кодом устройства glo™.</p>
                            </div>
                        </li>
                    </ul>
                    <br><br>
                    <h3>ЭКСПЛУАТАЦИЯ УСТРОЙСТВА</h3>
                    <ul class="faq">
                        <li>
                            <input type="checkbox" id="qru-17" checked>
                            <i></i>
                            <label for="qru-17" class="faq__title">Почему glo pro и glo HYPER имеют несколько режимов работы?</label>
                            <div class="faq__body">
                                <p>Режим Boost был разработан для того, чтобы у тебя была дополнительная возможность быстрее нагреть стик при несколько более высокой температуре и получить большее насыщение от табака. В режиме Standard устройство нагревает стик до температуры 250°С, при этом продолжительность сессии составляет 4 минуты. С помощью режима Boost стик прогреется до 280ºС. Продолжительность сессии в режиме Boost немного меньше и составляет 3 минуты.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qru-18" checked>
                            <i></i>
                            <label for="qru-18" class="faq__title">Как я могу включить режим Boost?</label>
                            <div class="faq__body">
                                <p>Просто нажми и держи круглую кнопку в центре устройства, после чего через 3 секунды устройство начнет вибрировать (активируется стандартный режим), продолжай удерживать кнопку и отпусти при второй вибрации через 5 секунд, чтобы активировать режим Boost.</p>
                                <p>После активации стандартного или Boost режима пользователь не может изменить режим до завершения сеанса использования.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qru-19" checked>
                            <i></i>
                            <label for="qru-19" class="faq__title">Как включить / выключить вибрацию на устройстве?</label>
                            <div class="faq__body">
                                <p>Функция вибрации в устройстве для нагрева табака glo™ по умолчанию включена.</p>
                                <p><b>Чтобы отключить вибрацию</b>, зажми контрольную кнопку на устройстве на 10 секунд. Устройство для нагрева табака glo™ слегка завибрирует через 3 секунды. Продолжайте держать контрольную кнопку нажатой. Устройство дважды завибрирует, в этот момент отпусти кнопку и нажми снова, чтобы отключить вибрации. Это должно быть сделано в течение 5 секунд, пока устройство вибрирует.</p>
                                <p><b>Чтобы снова включить функцию вибрации</b>, зажми контрольную кнопку устройства для нагревания табака glo™ на 10 секунд. После 3 секунд устройство завибрирует. Продолжай держать контрольную кнопку нажатой. Устройство завибрирует один раз, в этот момент отпусти кнопку и тут же нажми ее снова, чтобы включить функцию вибрации. Это должно быть сделано в течение 5 секунд, пока устройство вибрирует.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qru-20" checked>
                            <i></i>
                            <label for="qru-20" class="faq__title">Где и как я могу обменять устройство?</label>
                            <div class="faq__body">
                                <p>Ты можешь обменять устройство glo™ на новое в течение 12 месяцев с момента приобретения или с момента последнего обмена в случае потери им функциональных характеристик.</p>
                                <p>Замена устройства возможна при наличии коробки набора glo™, на которой указан код устройства.</p>
                                <p>Список авторизованных пунктов обмена glo ™ можно найти на нашем сайте: <a href="https://myglo.com.ua/pages/ugoda-z-korystuvachem">https://myglo.com.ua/pages/ugoda-z-korystuvachem</a></p>
                                <p>Если твой город отсутствует в перечне, пожалуйста, обратись на нашу горячую линию поддержки по телефону 8 800 50 90 80 или 8008 * или на info@myglo.com.ua или обратись в чат-бот «myglobot_ua».</p>
                                <p><small>*Звонки бесплатны. Только для совершеннолетних.</small></p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qru-21" checked>
                            <i></i>
                            <label for="qru-21" class="faq__title">Как я могу вернуть устройство?</label>
                            <div class="faq__body">
                                <p>Устройство glo™ можно вернуть, если им не пользовались, сохранен товарный вид продукции, ярлыки, упаковка, комплектность, и при себе ты имеешь упаковку со всеми аксессуарами (USB-кабель, адаптер, щетка для чистки), в течение 14 дней с момента покупки (или 14 дней с момента доставки курьерской службой). Подробнее ты можешь узнать в разделе <a href="/ru/pages/ugoda-z-korystuvachem#conditions">«Порядок возврата и обмена»</a> Пользовательского соглашения на сайте myglo.com.ua.</p>
                            </div>
                        </li>
                        <li>
                            <input type="checkbox" id="qru-22" checked>
                            <i></i>
                            <label for="qru-22" class="faq__title">Что делать, если устройство glo™ не работает должным образом?</label>
                            <div class="faq__body">
                                <p>Пожалуйста, обратись на горячую линию поддержки по телефону 8 800 50 90 80 или 8 008*; e-mail info@myglo.com.ua.</p>
                                <p><small>*Звонки бесплатные. Только для совершеннолетних.</small></p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container faq__info">
        <div class="row">
            <div class="col-lg-16">
                <p class="faq__info_text">Не нашли ответ на свой вопрос? Позвоните на горячую линию поддержки или воспользуйтесь формой обратной связи.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-8 col-xs-16">
                <a class="faq__info_link" href="/pages/contact-us">ОБРАТНАЯ СВЯЗЬ</a>
            </div>
            <div class="col-lg-10 col-md-8 col-xs-16">
                <p class="faq__info_phone">8 800 50 90 80 или по короткому номеру <b>8008</b></p>
            </div>
        </div>
    </div>
</div>

<style>
    .transition, p, ul li i:before, ul li i:after {
        transition: all 0.25s ease-in-out;
    }

    .flipIn, h1, ul li {
        animation: flipdown 0.5s ease both;
    }
</style>

<script type="application/ld+json">
    {

        "@context":
        "https://schema.org",

        "@type":
        "FAQPage",

        "mainEntity":
        [

            {
                "@type":"Question",
                "name":"Що таке glo™?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"glo™ – це інноваційна  смарт-технологія нагрівання тютюну, що зменшує кількість токсинів на 90%*. Разом із тютюновими стіками neo™ технологія індукційного нагрівання розкриває багатогранний смак спеціально відібраних сортів тютюну. glo™ та neo™ призначені для використання повнолітніми споживачами тютюнових виробів."
                }
            },
            {
                "@type":"Question",
                "name":"В чому полягає особливість технології індукційного нагрівання?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"Індукційне нагрівання – це прогресивна технологія, широко застосовувана у побуті (наприклад, у сучасних кухонних плитах), що була зменшена для удосконалення процесу нагрівання у пристрої glo. Індукційне нагрівання працює наступним чином – стік вставляється всередину пристрою у металеву камеру, яка нагрівається спеціальним індуктором за допомогою магнітного поля. Дана технологія дозволяє нагрівати стік швидше і забезпечує більш виразний смак тютюну."
                }
            },
            {
                "@type":"Question",
                "name":"Який основний механізм роботи пристроїв glo™?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"Всередині пристрою знаходиться циліндрична камера, в яку вставляється тютюновий стік. При активації девайсу батарея подає напругу до нагрівальної камери, де і нагрівається тютюн в стандартному режимi не вище  250+-5 ° C, у режимі Boost  до 280° C  (у пристроях  glo™ pro  та  glo™ HYPER). У результаті утворюється насичений нікотином аерозоль."
                }
            },
            {
                "@type":"Question",
                "name":"Чому при використанні пристрою glo™ не утворюється попіл?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"Попіл утворюється під час спалювання тютюну, а при використанні пристрою glo™ відбувається нагрівання тютюну без горіння."
                }
            },
            {
                "@type":"Question",
                "name":"Чим  технологія glo™ відрізняється від сигарет або куріння тютюну?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"glo™ нагріває тютюн без горіння, тому немає сигаретного диму, а натомість утворюється тютюновий аерозоль. Сигарети спалюють тютюн приблизно при 900 ° C. Широко визнано, що велика частина шкоди, пов'язаної з тютюном, викликана вдиханням диму, що утворюється при спалюванні тютюну. В glo™ тютюн не спалюється, а нагрівається, тому в результаті виділяється на 90% менше токсинів* у порівнянні зі звичайними сигаретами, що робить використання glo™  потенційно менш небезпечним для здоров'я. * Порівняння диму від спаленого тютюну у стандартних сигаретах 3R4F (приблизно 9 мг смол) та аерозолю від нагрітого тютюну у пристрої glo™. Порівнюється 9 шкідливих компонентів, рекомендованих ВООЗ до зменшення. Це не обов’язково означає, що цей продукт є менш шкідливим, ніж інші тютюнові продукти."
                }
            },
            {
                "@type":"Question",
                "name":"Чи можна вважати, що пристрій glo™ менш шкідливий для здоров’я, ніж електронні сигарети?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"Ці пристрої некоректно порівнювати, тому що вони функціонують по-різному. На сьогоднішнй день відсутні результати досліджень щодо різниці впливу систем для нагрівання тютюну й електронних сигарет на здоров’я людини. Без наукових даних ми не можемо стверджувати, що glo™ є менш шкідливим для здоров’я, аніж інші тютюнові або нікотиновмісні продукти."
                }
            },
            {
                "@type":"Question",
                "name":"В чому різниця між досвідом використання пристрою glo™ і курінням тютюну (звичайної сигарети)?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"glo™ – це цілком новий спосіб споживання тютюну, в якому використовується технологія індукційного нагрівання*. Спочатку смак може видатися незвичним, відрізнятися від смаку тютюну в сигареті, але це тому, що він не містить компонентів, які утворюються під час горіння тютюну. При використанні glo™ виділяється в середньому на 90% менше токсинів** і, при цьому, не утворюється попелу та диму*** і залишається менше запаху на одязі****. * в моделях glo™ HYPER та glo™ pro. ** Порівняння диму від спаленого тютюну у стандартних сигаретах 3R4F (приблизно 9 мг смол) та аерозолю від нагрітого тютюну у пристрої glo™. Порівнюється 9 шкідливих компонентів, рекомендованих Всесвітньою Організацією Охорони Здоров’я ВООЗ до зменшення. *** Без сигаретного диму, тільки аерозоль від нагрітого тютюну. **** У порівнянні з димом від звичайної сигарети. Ці якості не обов’язково означають, що цей продукт є менш шкідливим, ніж інші тютюнові продукти."
                }
            },
            {
                "@type":"Question",
                "name":"Чим відрізняються тютюнові  стіки форматів нано та демі?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"Стіки neo™  у форматі демі — це лінійка стіків, розроблена для використання з пристроями для нагрівання тютюну glo™ HYPER, в той час як стіки neo™  у форматі нано - для glo™ pro, glo™ nano та glo™ 2.0. Стіки  формату демі містять на 30% більше тютюну, що забезпечує  більше насичення від тютюну."
                }
            },
            {
                "@type":"Question",
                "name":"Які смаки наявні в лінійках стіків neo™ у форматі демі та нано?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"В лінійці стіків neo™  у форматі демі ти можеш знайти як класичний тютюновий смак, так і унікальні пропозиції з капсулами. TERRACOTA TOBACCO -Добре збалансований, насичений смак високоякісного тютюну з кремовими нотками та м’яким післясмаком. REDBERRY PASTEL - Освіжаючий смак ментолу, що гармонічно поєднується з насиченим тютюновим ароматом. Доповнено капсулою зі смаком міксу червоних ягід. BRILLIANT BERRY -Класичний тютюновий смак із легким ягідним ароматом. Доповнений капсулою зі смаком лісової ягоди та фільтром  із солодким присмаком для більш яскравого та багатогранного смаку. MAGNETIC PINEAPPLE -Збалансований тютюновий смак, що в один клік доповнюється яскравими нотками тропічних фруктів. В лінійці  стіків neo™  у форматі нано  також доступний широкий вибір смаків: RICH TABACCO – насичений, оксамитовий смак класичного тютюну. CREAMY TABACCO – м’який смак класичного тютюну з кремовими відтінками. Доповнено фільтром із солодким присмаком. DARK FRESH – вишуканий смак класичного тютюну з ментолом та ягідними нотками. CITRIC MIX – смак класичного тютюну з освіжаючими цитрусовими відтінками. BOOST RED – мікс ягідних та освіжаючих смаків в одній капсулі. BOOST ROYALE – солодкий мікс ягідних смаків в одній капсулі. Доповнено фільтром із солодким присмаком. BOOST SCARLET – мікс фруктового та карамельного смаків в одній капсулі. Доповнено фільтром із солодким присмаком"
                }
            },
            {
                "@type":"Question",
                "name":"З чого складаються стіки neo™? ",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"Всі стіки нео містять високоякісний тютюн Вірджинія, спеціально оброблений та підготовлений для нагрівання. Стіки neo™складаються з тютюнового стержня і Tube- фільтра, які об'єднані та обгорнуті в папір. Окрім цього, стіки формату демі містять тонкий шар алюмінієвої фольги, що  запобігає тлінню стіка."
                }
            },
            {
                "@type":"Question",
                "name":"Чи можна вважати, що один стік neo™– це як споживання однієї сигарети з точки зору насиченння нікотином?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"З огляду на кардинальні відмінності процесів горіння і нагрівання тютюну, також відрізняється і кількість нікотину, що отримується в процесі. Кількість нікотину залежить від особливостей використання пристрою дял нагрівання тютюну (від сили, глибини і частоти затяжки користувача)."
                }
            },
            {
                "@type":"Question",
                "name":"Де я можу придбати пристрій glo™?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"Продукцію glo™ можна замовити на офіційному сайті myglo.com.ua або придбати у фірмових магазинах glo™ studio та в роздрібних мережах. Адреси точок продажу ти можеш знайти у відповідному розділі «Де придбати» на сайті. "
                }
            },
            {
                "@type":"Question",
                "name":"Що входить у комплект набору glo™?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"Коробка, пристрій glo™, USB-кабель, блок живлення, щіточка для чищення. На сайті також доступні товарні позиції, до яких входить пристрій glo™ та блок стіків neo™."
                }
            },
            {
                "@type":"Question",
                "name":"Навіщо мені реєструвати пристрій glo™?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"Пристрій необхідно зареєструвати для того, щоб згідно з умовами Програми лояльності скористатися можливістю обміняти пристрій у разі його несправності протягом 1 року з дати придбання, а також отримати доступ до низки ексклюзивних переваг: • оперативна заміна девайсу в разі дефектів; • служба підтримки glo™ завжди буде рада допомогти у вирішенні будь-яких питань; • підтримка після покупки пристрою; • ти будеш першим, хто дізнається про всі останні новини glo™ і отримає доступ до персональних пропозицій."
                }
            },
            {
                "@type":"Question",
                "name":"Як  я можу зареєструвати пристрій glo™?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"Ти можеш зареєструвати свій пристрій за унікальним кодом пристрою у розділі «Зареєструвати пристрій» на головній сторінці сайту myglo.com.ua. "
                }
            },
            {
                "@type":"Question",
                "name":"Де знаходиться унікальний код пристрою?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"Унікальний код пристрою можна знайти на нижній панелі коробки набору glo™: ти побачиш помаранчеву наліпку з кодом вашого пристрою glo™."
                }
            },
            {
                "@type":"Question",
                "name":"Чому glo pro та glo HYPER мають декілька режимів роботи? ",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"Режим Boost був розроблений для того, щоб у тебе була додаткова можливість швидше нагріти стік при трохи вищій температурі та отримати більше насичення від тютюну. У режимі Standard пристрій нагріває стік до температури 250 ºС, при цьому тривалість сесії складає 4 хвилини. За допомогою режиму Boost стік прогріється до 280ºС. Тривалість сесії у режимі Boost трохи менша і складає 3 хвилини. "
                }
            },
            {
                "@type":"Question",
                "name":"Як я можу включити режим Boost?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"Просто натисни і тримай круглу кнопку в центрі пристрою, після чого через 3 секунди пристрій почне вібрувати (активується стандартний режим), продовжуй  утримувати кнопку та відпусти при другій вібрації через 5 секунд, щоб активувати режим Boost.  Після активації стандартного або Boost режиму користувач не може змінити режим до завершення сеансу використання."
                }
            },
            {
                "@type":"Question",
                "name":"Як включити/вимкнути вібрацію на пристрої?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"Функція вібрації у пристрої для нагрівання тютюну glo™ за замовчуванням включена. Щоб відключити вібрацію, затисни контрольну кнопку на пристрої на 10 секунд. Пристрій для нагрівання тютюну glo™ злегка завібрує через 3 секунди. Продовжуйте тримати контрольну кнопку натиснутою. Пристрій двічі завібрує, в цей момент відпусти кнопку і натисни знову, щоб вимкнути функцію вібрації. Це повинно бути зроблено протягом 5 секунд, поки пристрій вібрує. Щоб знову включити функцію вібрації, затисни контрольну кнопку пристрою для нагрівання тютюну glo™ на 10 секунд. Після 3 секунд пристрій не завібрує. Продовжуй тримати контрольну кнопку натиснутою. Пристрій завібрує один раз, в цей момент відпусти кнопку і тут же натисни її знову, щоб включити функцію вібрації. Це повинно бути зроблено протягом 5 секунд, поки пристрій вібрує."
                }
            },
            {
                "@type":"Question",
                "name":"Де  і як я можу обміняти свій пристрій?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"Ти можеш обміняти пристрій glo™ на новий протягом 12 місяців з моменту придбання або з моменту останього обмiну у випадку втрати ним функціональних характеристик. Замiна пристрою можлива при наявностi коробки набору glo™, де вказаний код пристрою. Перелік авторизованих пунктів обміну glo™ можна знайти на нашому сайтi: https://myglo.com.ua/pages/ugoda-z-korystuvachem. Якщо твоє місто відсутнє в перелiку, будь ласка, звернись на нашу гарячу лінію підтримки користувачів за телефоном 8 800 50 90 80 або 8008* або на info@myglo.com.ua або звернись в чат-бот “myglobot_ua *Дзвінки безкоштовні. Тільки для повнолітніх."
                }
            },
            {
                "@type":"Question",
                "name":"Як я можу повернути пристрій?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"Пристрій glo™ можна повернути, якщо ним не користувалися, збережено товарний вигляд продукції, ярлики, упаковка, комплектність і при собі ти маєш упаковку зі всіма комплектуючими (USB-кабель, адаптер, щітка для чищення), протягом 14 днів з моменту покупки (або 14 днів з моменту доставки кур’єрською службою). Детальніше ти можеш дізнатися у розділі «Порядок повернення та обміну угоди з користувачем» на сайті myglo.com.ua."
                }
            },
            {
                "@type":"Question",
                "name":"Що  робити, якщо пристрій glo™ не працює належним чином?",
                "acceptedAnswer":{
                    "@type":"Answer",
                    "text":"Будь ласка, звернись на гарячу лінію підтримки користувачів за телефоном 8 800 50 90 80 або 8008*; по e-mail info@myglo.com.ua.  *Дзвінки безкоштовні. Тільки для повнолітніх."
                }
            }
            }
        ]
    }
</script>