<div class="container">
  <div class="row">
    <div class="col-lg-16">
      <div class="section-header">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        
       	<div class="map_homepage map_homepage__contact block-mb" id="go-buy">
			{% include 'map' %}
		</div>

        
      </div>
    </div>
  </div>
</div>
