<div class="container-fliud page-about__bg block-mb">
  <div class="container">
    <div class="row">
    	<div class="col-lg-16">
          <div class="page__title fff">British American Tobacco<br>запрошує до співпраці glo™ експертів</div>
        </div>
    </div>
  </div>
</div>

<div class="container-fliud block-mb">
  <div class="benefits-block container">
    <div class="row">
      <div class="col-lg-8"><h2>Якщо ти:</div>
    </div>
    <div class="row">
    	<div class="col-lg-8">
			 <ul class="info-list benefits-block__list pT20">
                <li class="info-list__item">
                    <span class="i-check"></span>
                    <p class="info-list__text">Отримуєш задоволення від досягнення непростих цілей</p>
                </li>
                <li class="info-list__item">
                    <span class="i-check"></span>
                    <p class="info-list__text">Вмієш працювати в команді</p>
                </li>
                <li class="info-list__item">
                    <span class="i-check"></span>
                    <p class="info-list__text">Маєш величезне коло спілкування</p>
                </li>
               <li class="info-list__item">
                    <span class="i-check"></span>
                    <p class="info-list__text">Називаєш комунікабельність своїм другим ім'ям</p>
                </li>
               <li class="info-list__item">
                    <span class="i-check"></span>
                    <p class="info-list__text">Віртуозно працюєш із запереченнями</p>
                </li>
               <li class="info-list__item">
                    <span class="i-check"></span>
                    <p class="info-list__text">Хочеш стати амбасадором бренду нового покоління</p>
                </li>
               
          	</ul>
		</div>
      	<div class="col-lg-8"><img src={{"glo-experts-img.png" | asset_url }} style="padding-top: 60px;"></div>
	</div>
   </div>
</div>
  

<div class="container-fliud">
  <div class="benefits-block container">
    <div class="row">
      
      <div class="col-lg-8"><h2>Це ми:</div>
    </div>
    <div class="row">
        <div class="col-lg-8 text-center"><img src={{"gloexperts.png" | asset_url }} ></div>
    	<div class="col-lg-8">
			 <ul class="info-list benefits-block__list pT20">
                <li class="info-list__item">
                    <span class="i-check"></span>
                    <p class="info-list__text">Надаємо можливість долучитися до динамічної команди, що впроваджує грандіозні зміни</p>
                </li>
                <li class="info-list__item">
                    <span class="i-check"></span>
                    <p class="info-list__text">Гарантуємо навчання та розвиток від найкращих експертів</p>
                </li>
                <li class="info-list__item">
                    <span class="i-check"></span>
                    <p class="info-list__text">Пропонуємо гідну компенсацію та можливість безпосередньо впливати на результат</p>
                </li>
               <li class="info-list__item">
                    <span class="i-check"></span>
                    <p class="info-list__text">Надаємо можливість працювати за гнучким графіком</p>
                </li>
               <li class="info-list__item">
                    <span class="i-check"></span>
                    <p class="info-list__text">Компенсація: 14 000 - 22 000 грн піcля оподаткування у разі виконання цілей із супроводу продажів</p>
                </li>
              
          	</ul>
		</div>
      	
	</div>
   </div>
</div>

<div class="container block-mb hidden-xs">
  	<div class="row">
      
    </div>
</div>    
<div class="container-fliud block-mb">
  <div class="container">
    <div class="row">
      <div class="col-lg-16"><h2>Ти будеш:</h2></div>
    </div>
    <div class="row">
      <div class="col-lg-8">
       		<ul class="info-list benefits-block__list">
                <li class="info-list__item pB20">
                    <span class="i-check"></span>
                  <p class="info-list__text">Зустрічатись з потенційними клієнтами та робити презентацію продукту</p>
                </li>
                <li class="info-list__item pB20">
                    <span class="i-check"></span>
                  <p class="info-list__text">Здійснювати післяпродажну підтримку клієнта</p>
                </li>
                <li class="info-list__item pB20">
                    <span class="i-check"></span>
                  <p class="info-list__text">Виконувати встановлений план із супроводу продажів</p>
                </li>
          	</ul>
        	<a href="https://docs.google.com/forms/d/e/1FAIpQLSdkkFAAJKrSsvawLq1dQwAaFDyeiBVHXj3z9NFIJyen1rNBmw/viewform" target="_blank" class="btn">
           		<span>Відправити резюме</span>
          	</a>
      </div>
      <div class="col-lg-8" class="">
       
      </div>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <div class="col-lg-16">
        <small>* залучення до співпраці відбувається шляхом укладання договору з партнерським агентством</small>
      </div>
    </div>
  </div>




<style>
.transition, p, ul li i:before, ul li i:after {
  transition: all 0.25s ease-in-out;
}

.flipIn, h1, ul li {
  animation: flipdown 0.5s ease both;
}
</style>


<style>
  .benefits-block__list {
  	padding-top: 20px;
  }
    .form-success-message.success-message-block.block-mgm {
        width: 550px;
    }
    @media (max-width: 900px) {
        .form-success-message.success-message-block.block-mgm {
            width: 100%;
            margin: 30px 0;
            padding: 15px;
        }
    }
    .about__info .benefits {
        padding-top: 20px;
    }

</style>